:root{
	--grey-100: #191919;
	--grey-90: #202020;
	--grey-80: #2F2F2F;
	/*--grey-60: #191919; 
	--grey-40: #191919;
	--grey-20: #191919;*/
	--blue-100: #3540D4;
	--blue-90: #2B5DD0;
	--blue-80: #2960C6;
	--blue-60: #2688CF; 
	--blue-40: #2886CB;
	--blue-20: #2EAAE1;
	--blue-10: #2AADD8;
	--blue-0: #24DAEF;
	--violet-100: #CB54FE;
	--violet-90: #9A80FE;
	--violet-80: #7DA3FD;
	--violet-60: #5AD3FC;
	--violet-40: #4EE6FD;
	--violet-20: #49E6FC;
	--violet-10: #AFFDFD;
}
h1,h2,h3,h4,h5{
	margin:0;
	font-weight: 900;
	color: #fff;
}
ul {
	margin: 0;
	padding: 0;
}
ul li{
	margin: 0;
	padding: 0;
	display: block;
}
a, a:hover, input, button, .button, .button:active, .button:focus, span, summary, details{
	outline: none;
	text-decoration: none;
}
.line-breaker{
	display: inline-block;
}
body{
	/*overflow-x: hidden;
	letter-spacing: 0;*/
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background: var(--grey-100);
	padding-top: 10vh;
}
/*.container{
	max-width: 90%;
}
.borderless-container{
	margin: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: auto;
}
#trial-lesson-modal .modal-header{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#trial-lesson-modal .modal-title{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}*/
header{
	/*margin-top: 3rem;*/
}
.navbar{
	transition: all .5s ease-in-out;
	width: 100%;
	z-index: 1;
}
.navbar .navbar-nav{
	margin-top: 1rem;
}
.navbar a{
	height: 100%;
}
.navbar-brand {
    width: 225px;
    position: relative;
}
.navbar-brand img{
	height: 90px;
	/*width: 225px;*/
	position: absolute;
	top: 0;
	left: 0;
}
.navbar .navbar-brand:hover, .navbar .nav-item{
	cursor: pointer;
}
nav .nav-link {
	font-size: 1rem;
	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	color: #F5F5F5 !important;
}
.navbar-nav .nav-link span{
	transition: all 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover span{
	color: var(--violet-90);
}
.offer-left{
	margin: 30% 0 0 20%;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
}
.offer-left p{
	font-size: 1.15rem;
}
.free-lesson{
	margin: 4rem 0 1.25rem 0;
	color: #C2B1BD;
}
.free-lesson-centered{
	display: flex;
	flex-flow: column nowrap;
	margin: 4rem 0rem;
	align-items: center;
}
.btn-general{
	padding: 10px 20px;
	height: 53px;
	border-radius: 11px;
	background: #F5F5F5;
	position: static;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	color: #3540D4;
	transition: all 0.3s ease-in-out;
}
.btn-register{
	width: 188px;
}
.btn-register:hover{
	box-shadow: 7px 7px 4px 0px #9ACDF9;
}
.offer-right{
	background: url(../img/pic1.png) no-repeat left center / cover;
	height: 750px;
}
h1{
	font-size: 3rem;
	line-height: 4rem;
}
section{
	padding-top: 100px;
}
.section-headline{
	text-align: center;
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
}
.approach__left{
	background: url(../img/pic2.png) no-repeat center top / cover;
	min-height: 900px;
}
.approach__right{
	margin: 3rem 1rem;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
}
h2{
	font-size: 2.25rem;
	font-weight: 600;
}
.school-advantage {
	display: flex;
	margin: 20px 35%;
	align-items: center;
	width: 100%;
	-ms-flex-flow: column nowrap;
	    flex-flow: column nowrap;
}
.school-advantage:last-child{
	margin: 20px 15%;
}
.school-advantage .circle{
	height: 145px;
	width: 145px;
	border-radius: 50%;
	background: #AFFDFD;
	position: relative;
	display: flex;
}
.school-advantage .circle span{
	font-size: 2.25rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -26px;
	text-align: center;
	color: #000;
}
.school-advantage:last-child .circle span{
	margin-left: -50px;
}
.school-advantage__title{
	display: flex;
	font-weight: normal;
	font-size: 2.25rem;
	line-height: 49px;
	text-align: center;
}
.school-advantage-mobile-description{
	display: none;
}
.approach__text{
	font-weight: 400;
	text-align: center;
}
@keyframes opacity-to-zero{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
.opacity-to-zero{
	animation: opacity-to-zero 0.5s forwards;
}
@keyframes opacity-to-one{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.opacity-to-one{
	animation: opacity-to-one 0.5s forwards;
}
#courses, #additional-courses{
	padding-top: 5rem;
}
.headline_700{
	font-weight: 700;
}
#courses .row>div, #additional-courses .row>div{
	position: relative;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding: 0;
}
.course-title{
	color: #fff;
	line-height: 2.5rem;
	font-weight: 600;
	font-size: 2rem;
	text-align: center;
	text-align: center;
	display: flex;
	padding: 0 2.5rem;
	display: flex;
	flex-flow: row wrap;
}
.course-title-small{
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin-top: 2rem;
}
.course{
	display: flex;
	justify-content: center;
	align-items: center;
}
.course-business{
	background: url(../img/course_business.png);
	background-size: cover;
	background-position: center;
}
.course-general{
	background: url(../img/course_general.png);
	background-size: cover;
	background-position: center;
}
.course-schoolers{
	background: url(../img/course-schoolers.png);
	background-size: cover;
	background-position: center;
}
.course-sheldon{
	background: url(../img/course-sheldon.png);
	background-size: cover;
	background-position: center;
}
.course-dash_lily{
	background: url(../img/course_dash_lily.png);
	background-size: cover;
	background-position: center;
}
.course-babies{
	background: url(../img/course_babies.png);
	background-size: cover;
	background-position: center;
}
.course-teachers{
	background: url(../img/course_teachers.png);
	background-size: cover;
	background-position: center;
}
.course-exams{
	background: url(../img/course_exams.png);
	background-size: cover;
	background-position: center;
}
.course-travel{
	background: url(../img/course_travel.png);
	background-size: cover;
	background-position: center;
}
.course-schoolers-speaking{
	background: url(../img/course-schoolers-speaking.png) no-repeat center;
	background-size: cover;
}
.course-it-english{
	background: url(../img/course-it-english) no-repeat center;
	background-size: cover;
}
.course-dash-lily-marathon{
	background: url(../img/projector.png) no-repeat center;
	background-size: cover;
}
.zoom {
    width: 100%;
    height: 250px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    position: relative;
}
.transition {
    -webkit-transform: scale(1.25); 
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    position: relative;
}
.z-index-1{
	z-index: 1;
}
.z-index-99999{
	z-index: 99999;
}
/*courses*/
.course-left{
	height:  100%;
}
.course-left{
	position: relative;
	min-height: 700px;
}
.course-left:after{
	content: "";
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: rgba(203, 84, 254, 0.2);
}
.course-left-business{
	background: url(../img/statue.jpg) no-repeat center /cover;
}
.course-left-general{
	background: url(../img/general-english.jpg) no-repeat center right /cover;
}
.course-left-schoolers{
	background: url(../img/schoolers-english.jpg) no-repeat center /cover;
}
.course-left-sheldon{
	background: url(../img/series.jpg) no-repeat center /cover;
}
.course-left-sheldon{
	background: url(../img/series.jpg) no-repeat center center /cover;
}
.course-left-dash-lily{
	background: url(../img/light-projector.jpg) no-repeat center right /cover;
}
.course-left-babies{
	background: url(../img/baby-angels.png) no-repeat center /cover;
}
.course-left-teachers{
	background: url(../img/teachers.jpg) no-repeat center /cover;
}
.course-left-exams{
	background: url(../img/exams.jpg) no-repeat center /cover;
}
.course-left-travel{
	background: url(../img/travel.jpg) no-repeat center /cover;
}
.mobile-course-img{
	display: none;
}
.course-right{
	margin: 3rem 3rem 3rem 3rem;
	display: flex;
	flex-flow: column wrap;
}
.course-page-title{
	font-weight: 600;
	font-size: 2.25rem;
	line-height: 49px;
	margin-bottom: 1.5rem;
}
.course-page-subtitle{
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 24px;
	margin: -1.5rem 0 1.5rem 0;
}
.course-description{
	font-weight: normal;
	font-size: 0.9rem;
	line-height: 1.25rem;
}
#lessons-videos{
	background: rgba(203, 84, 254, 0.2);
}
#lessons-videos h2{
	padding: 2rem 0rem;
}
.body-bg{
	background: var(--grey-100);
	padding-bottom: 2rem;
}

.videos-gallery{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 2rem;
  	grid-auto-rows: minmax(210px, auto);
  	margin: 2rem 0;
}
.videos-gallery .gallery-video{
	background-size: cover;
	background-position: center center;
	height: 100%;
	position: relative;
}
.children-videos-gallery a:nth-child(1) .gallery-video{
	background-image: url(../img/chip.png);
}
.children-videos-gallery a:nth-child(2) .gallery-video{
	background-image: url(../img/mona_lisa_lesson.png);
}
.children-videos-gallery a:nth-child(3) .gallery-video{
	
}
.children-videos-gallery a:nth-child(4) .gallery-video{
	background-image: url(../img/how_do_you_feel.png);
}
.children-videos-gallery a:nth-child(5) .gallery-video{
	background: url(../img/talk.png) no-repeat center;
	background-size: contain;
}
.children-videos-gallery a:nth-child(6) .gallery-video{
	background-image: url(../img/exercises.png);
}
.children-videos-gallery a:nth-child(7) .gallery-video{
	
}
.children-videos-gallery a:nth-child(8) .gallery-video{
	
}
.older-videos-gallery a:nth-child(1) .gallery-video{
	
}
.older-videos-gallery a:nth-child(2) .gallery-video{
	
}
.older-videos-gallery a:nth-child(3) .gallery-video{
	background-image: url(../img/pisses-off-lesson.jpeg);
}
.older-videos-gallery a:nth-child(4) .gallery-video{
	
}
.older-videos-gallery a:nth-child(5) .gallery-video{
	
}
.older-videos-gallery a:nth-child(6) .gallery-video{
	
}
.older-videos-gallery a:nth-child(7) .gallery-video{
	background-image: url(../img/eating_sounds.png);
}
.older-videos-gallery a:nth-child(8) .gallery-video{
	
}
.videos-gallery .gallery-video i{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3rem;
	margin-left: -1.5rem;
	margin-top: -1.5rem;
}
.vbox-prev {
    left: 30px;
}
.vbox-next {
    right: 30px;
}
.vbox-close {
	font-size: 2.5rem;
	right: 1rem;
	top: 0.5rem;
}
.videos-gallery .gallery-video i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    transition: all .3s ease-in-out;
}
.bi-youtube{
	color: red;
}
.bi-youtube:hover{
	color:#C31A1E;
}
/*__________________________________testimonials__________________________________*/

.testimonials-wrapper{
	overflow-x: hidden; /*or overflow-x:scroll */
  	display: flex;
}
main {
  overflow-x: hidden; /*or overflow-x:scroll */
  display: flex;
}
section {
  min-width: 50vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
}
h1 {
  margin: 0;
}
section:nth-child(even) {
  background-color: teal;
  color: white;
}



/*__________________________________contacts__________________________________*/
#contacts{
	background-color: #f8e7ff;
	color: #000;
	padding: 0;
	margin: 7rem 0;
}
#contacts .container{
	padding: 4rem 0;
	display: flex;
    flex-flow: column;
    align-items: center;
}
.contacts__socials{
	display: flex;
	justify-content: center;
}
.contacts__socials a{
	display: flex;
	height: 30px;
	width: 30px;
	margin: 5rem;
}
.contacts__socials i{
	display: flex;
	font-size: 2rem;
	color: #000;
	transition: all .3s ease-in-out;
}
.contacts__socials i:hover{
	color: var(--violet-90);
}
#contacts p{
	margin: 1rem 0 3rem 0;
	display: flex;
	text-align: center;
	font-size: 1.25rem;
	color: var(--blue-100);
}
#contacts .btn-general{
	background-color: #f8e7ff;
	box-shadow: 7px 7px 4px 0px #9ACDF9;
}
#contacts .btn-general:hover{
	box-shadow: 1px 1px 1px 1px #9ACDF9;
	transform: translateY(4px);
}
#contacts .btn-general:active{
	transform: translateY(5px);
	botder: 1px solid #9ACDF9;
}
@keyframes button-pressed{
	0%{
		transform: translate(0, 0);
		box-shadow: 7px 7px 4px 0px #9ACDF9;
	}
	100%{
		transform: translate(0, 5px);
		box-shadow: 1px 1px 1px 0px #9ACDF9;
	}
}












/*zteacher 1.0*/


#testimonials{
	background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/testimonial-bg.jpg);
	background-size: cover;
	background-position: center center;
	padding-bottom: 125px;
	background-attachment: fixed;
}
/*-------carousel-----------*/
.carousel {
    background: rgba(255,255,255, 0.5);
    border-radius: 100px;
}
.carousel-inner{
	padding: 0 5% 3% 5%;
}
.carousel-indicators li{
	background-color: #000;
}
#carouselButton{
	position: absolute;
	bottom: 0px;
	left: 48%;
}
.carousel-control-next, .carousel-control-prev{
	width: 7%;
	font-size: 30px;
	color: rgb(0,0,0, 0.75) !important;
	transition: all 0.2s ease-in-out;
	margin: 5% 0;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
	color: rgb(0,0,0, 1);
}
.carousel-control-prev{
	justify-content: flex-end;
}
.carousel-control-next{
	justify-content: flex-start;
}
.testimonial{
	width: 100%;
	height: 100%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	padding: 30px;
}
.testimonial__author{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.author-img{
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
	border-radius: 50%;
}
.author-name{
	width: 100%;
	font-size: 18px;
	font-style: italic;
	font-weight: 500;
	text-align: center;
}
#author1{
	background: url(../img/julia.jpg) center center no-repeat;
	background-size: cover;
}
#author2{
	background: url(../img/avatar-man.png) center center no-repeat;
	background-size: cover;
}
#author3{
	background: url(../img/avatar-man.png) center center no-repeat;
	background-size: cover;
}
#author4{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author5{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author6{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author7{
	background: url(../img/avatar-man.png) center center no-repeat;
	background-size: cover;
}
#author8{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author9{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author10{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author11{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author12{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author13{
	background: url(../img/incognito.jpg) center center no-repeat;
	background-size: cover;
}
.testimonial__text{
	font-size: 20px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.emoji{
	height: 26px;
	width: 26px;
	margin-bottom: -4px;
	display: inline-block;
}
.smile{
	background: url(../img/smile.png) center center no-repeat;
	background-size: cover;
}
.star-struck{
	background: url(../img/star-struck.png) center center no-repeat;
	background-size: cover;
}
.thumbs-up{
	background: url(../img/thumbs-up.png) center center no-repeat;
	background-size: cover;
}
.heart-eyes{
	background: url(../img/heart-eyes.png) center center no-repeat;
	background-size: cover;
}
.heart{
	background: url(../img/heart.png) center center no-repeat;
	background-size: cover;
}
.kiss{
	background: url(../img/kiss.png) center center no-repeat;
	background-size: cover;
	margin-left: 2px;
}
.kissing-heart{
	background: url(../img/kissing-heart.png) center center no-repeat;
	background-size: cover;
	margin-left: 3px;
}
.one-hundred{
	background: url(../img/100.png) center center no-repeat;
	background-size: cover;
	margin-bottom: -6px;
}
.thinking-face{
	background: url(../img/thinking-face.png) center center no-repeat;
	background-size: cover;
}
.eyebrow{
	background: url(../img/eyebrow.png) center center no-repeat;
	background-size: cover;
}
.wink{
	background: url(../img/winking-face.png) center center no-repeat;
	background-size: cover;
	margin-bottom: -6px;
}
.fire{
	background: url(../img/fire.gif) no-repeat;
	background-size: cover;
	background-size: 20px 26px;
	width: 20px;
}
.party-popper{
	background: url(../img/party-popper.png) no-repeat;
	background-size: cover;
}
.flower{
	background: url(../img/flower.png) no-repeat;
	background-size: cover;
}
/*-----------------------------*/
footer{
	margin-top: 125px;
	padding: 20px 5px 10px 5px;
	background: var(--dark-blue);
	color: #fff;
}
footer .links-list li{
	padding-bottom: 10px;
}
footer h5 a{
	font-weight: 500;
}
footer p{
	margin-bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 50px;
	font-size: 18px;
}
.footer-navigation{
	font-size: 18px;
}
footer a{
	color: #fff;
	transition: all .3s ease-in-out;
}
footer a:hover{
	color: rgb(255, 195, 49);
	text-decoration: none;
}
.footer-socials a{
	margin: 0 10px;
}
.footer-contacts{
	flex-flow: row wrap;
}
.developer{
	line-height: 25px;
}
.developer__link{                   
	color: #fff;
	margin-left: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.developer__link:hover{
	color: #ffc331;
	text-decoration:none;
}
.developer__link i{
	margin-left: 4px;
	font-size: 12px;
}