:root{
	--grey-100: #191919;
	--grey-90: #202020;
	--grey-80: #2F2F2F;
	/*--grey-60: #191919; 
	--grey-40: #191919;
	--grey-20: #191919;*/
	--blue-100: #3540D4;
	--blue-90: #2B5DD0;
	--blue-80: #2960C6;
	--blue-60: #2688CF; 
	--blue-40: #2886CB;
	--blue-20: #2EAAE1;
	--blue-10: #2AADD8;
	--blue-0: #24DAEF;
	--violet-100: #CB54FE;
	--violet-90: #9A80FE;
	--violet-80: #7DA3FD;
	--violet-60: #5AD3FC;
	--violet-40: #4EE6FD;
	--violet-20: #49E6FC;
	--violet-10: #AFFDFD;
	--pale-violet: rgba(203, 84, 254, 0.2);
	--pale-pink: #f8e7ff;
	--white: #F5F5F5;

}
h1,h2,h3,h4,h5{
	margin:0;
	font-weight: 900;
	color: var(--white);
}
ul {
	margin: 0;
	padding: 0;
}
ul li{
	margin: 0;
	padding: 0;
	display: block;
}
a, a:hover, input, button, .button, .button:active, .button:focus, span, summary, details{
	outline: none;
	text-decoration: none;
}
.line-breaker{
	display: inline-block;
}
body{
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background: var(--grey-100);
	padding-top: 10vh;
}
/*----------------------modal----------------------*/
#trial-lesson-modal{
	font-weight: 400;	
}
#trial-lesson-modal .modal-header{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal-title{
	color: var(--blue-100);
}
#trial-lesson-modal .modal-title{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}
#trial-lesson-modal .modal-dialog {
    max-width: 800px;
    margin: 0 auto;
    color: var(--blue-100);
    position: static;
} 
#trial-lesson-modal .modal-content{
	position: static;
}
#trial-lesson-modal .modal-content:before{
	position: absolute;
	display: flex;
	content: "Your password to the world: #Zteacher";
	top: 30%;
	left: 3%;
	font-size: 1.5rem;
	font-weight: 600;
	transform: rotate(-90deg);
	background: -webkit-linear-gradient(#FFFFFF, #BE35D4);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
#trial-lesson-modal .modal-content{
	background: var(--pale-pink);
}
#trial-lesson-modal .modal-header{
	padding-top: 3rem;
	border: none;
}
#trial-lesson-modal .modal-header h4{
	font-weight: 600;
	margin-top: 2rem;
}
#trial-lesson-modal .modal-header button {
	border: none;
	font-size: 3rem;
	color: var(--blue-100);
}
#trial-lesson-modal .form-group{
	margin-bottom: 1rem;
}
#trial-lesson-modal .form-group>div{
	display: flex;
	flex-flow: row nowrap;
}
#trial-lesson-modal label.special-label{
	display: flex;
	width: 30%;
	justify-content: flex-end;
	align-items: center;
	padding-right: 1rem;
}
#trial-lesson-modal input.special-input{
	display: flex;
	width: 35%;
	background: var(--pale-pink);
}
/*.form-control.is-valid, .was-validated .form-control:valid{
	border-color: var(--blue-100);
}*/
.was-validated :invalid~.invalid-feedback{
	display: flex;
	align-items: center;
	color: #dc3545;
}
#trial-lesson-modal .invalid-feedback{
	width: 35%;
	padding-left: 1rem;
}
.form-control{
	border: 1px solid var(--blue-100);
}
#trial-lesson-modal .choices{
	margin-bottom: 0;
	min-width: 35%;
}
#trial-lesson-modal .choices .choices__inner{
	border: 1px solid var(--blue-100);
	background: var(--pale-pink);
}
#trial-lesson-modal .choices .choices__input{
	background: var(--pale-pink);
}
#trial-lesson-modal .choices[data-type*=select-multiple] .choices__button, .choices[data-type*=text] .choices__button{
	border-left: 1px solid var(--blue-100);
	background-image:  url(../img/lil-cross.png);
}
#trial-lesson-modal .choices .choices__list--multiple .choices__item{
	color: var(--blue-100);
	border: 0.75px solid var(--blue-100);
}
#trial-lesson-modal .choices .choices__list--dropdown{
	word-break: normal;
}
#trial-lesson-modal .choices .choices__item{
	font-size: 0.75rem;
	background: var(--pale-pink);
}
#trial-lesson-modal .form-check-label{
	padding-right: 1rem;
}
.form-check-input:checked{
	background-color:  var(--blue-100);
}
#trial-lesson-modal button[type="submit"]{
	margin-top: 3rem;
	/*background: url(--pale-pink);
	border: 1px solid rgba(21, 25, 83, 0.2);
	color: var(--blue-100);
	font-weight: bold;
	font-size: 1.25rem;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	box-shadow: 7px 7px 4px #9ACDF9;
	border-radius: 11px;
	padding: 0.5rem 1rem;*/
}
/*----------------------modal----------------------*/
header{
	margin-top: 1rem;
}
.navbar{
	transition: all .5s ease-in-out;
	width: 100%;
	z-index: 1;
}
.navbar .navbar-nav{
	margin-top: 1rem;
}
.navbar a{
	height: 100%;
}
.navbar-brand {
    width: 225px;
    position: relative;
}
.navbar-brand img{
	height: 90px;
	/*width: 225px;*/
	position: absolute;
	top: 0;
	left: 0;
}
.navbar .navbar-brand:hover, .navbar .nav-item{
	cursor: pointer;
}
nav .nav-link {
	font-size: 1rem;
	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	color: var(--violet-90) !important;
}
.navbar-nav .nav-link span{
	transition: all 0.3s ease-in-out;
	padding-bottom: 0.5rem;
	border-bottom: 2px solid var(--violet-90);
}
.navbar-nav .nav-link:hover span{
	color: var(--white);
	border-bottom: 2px solid #fff;
}
.header-wrapper .row{
	position: relative;
	height: 750px;
}
.offer-left{
	margin-top: 25%;
	    -ms-flex-flow: column nowrap;
	        flex-flow: column nowrap;
}
.offer-left p{
	font-size: 1.15rem;
}
.free-lesson{
	margin: 4rem 0 1.25rem 0;
	color: #C2B1BD;
}
.free-lesson-centered{
	display: flex;
	flex-flow: column nowrap;
	margin: 4rem 0rem;
	align-items: center;
}
.btn-general{
	padding: 10px 20px;
	height: 53px;
	border: none;
	border-radius: 11px;
	background: var(--white);
	position: static;
	font-weight: bold;
	font-size: 24px;
	line-height: 33px;
	transition: all 0.3s ease-in-out;
	color: var(--blue-100);
}
.btn-register{
	width: 188px;
}
.btn-register:hover{
	box-shadow: 7px 7px 4px 0px #9ACDF9;
}
.offer-right{
	background: url(../img/pic1.png) no-repeat left center / cover;
	position: absolute;
	left: 50%;
	top: 0;
	height: 750px;
	width: 55%;
}
h1{
	font-size: 3rem;
	line-height: 4rem;
}
section{
	padding-top: 100px;
}
.section-headline{
	text-align: center;
	font-size: 2.25rem;
	font-weight: 600;
	margin-bottom: 3rem;
}
#approach{
	padding-top: 0;
}
#approach .container{
	position: relative;
}
.approach__left{
	background: url(../img/pic2.png) no-repeat center top / cover;
	min-height: 710px;
	position: absolute;
	top: 0;
	left: -7%;
	width: 57%;
}
.approach__right{
	justify-content: center;
	margin: 3rem 1rem;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	    position: relative;
	min-height: 600px;
}
.approach__right__close{
	content: "";
	position: absolute;
	right: -3rem;
	top: -1rem;
	width: 1.5rem;
	height: 1.5rem;
	background: url(../img/lil-white-cross.png) no-repeat center /cover;
	transition: all 0.3s ease-in-out;
}
.approach__right__close:hover{
	cursor: pointer;
	background: url(../img/lil-cross.png) no-repeat center /cover;
}
h2{
	font-size: 2.25rem;
	font-weight: 600;
}
.school-advantage{
	display: flex;
	margin: 2rem 10% 1rem 10%;
	align-items: center;
	width: 100%;
	-ms-flex-flow: column nowrap;
	    flex-flow: column nowrap;
}
.school-advantage-speaking:hover, .school-advantage-writing:hover, .school-advantage-interest:hover{
	cursor: pointer;
}
.school-advantage .circle{
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background: #AFFDFD;
	position: relative;
	display: flex;
}
.school-advantage .circle span{
	font-size: 1.5rem;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -30px;
	margin-top: -18px;
	text-align: center;
	color: #000;
}
.school-advantage:last-child .circle span, .approach__interest .school-advantage .circle span{
	margin-left: -38px;
}
.school-advantage__title{
	display: flex;
	font-weight: normal;
	font-size: 1.75rem;
	line-height: 3rem;
	text-align: center;
}
.school-advantage-mobile-description{
	display: none;
}
.approach__text{
	font-size: 1.5rem;
	font-weight: 400;
	text-align: center;
	margin-bottom: 1.75rem;
}
@keyframes opacity-to-zero{
	from{
		opacity: 1;
	}
	to{
		opacity: 0;
	}
}
.opacity-to-zero{
	animation: opacity-to-zero 0.5s forwards;
}
@keyframes opacity-to-one{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}
.opacity-to-one{
	animation: opacity-to-one 0.5s forwards;
}
.headline_700{
	font-weight: 700;
}
#courses .row>div, #additional-courses .row>div{
	position: relative;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding: 0;
}
.course-title{
	color: #fff;
	line-height: 2.5rem;
	font-weight: 600;
	font-size: 2rem;
	text-align: center;
	text-align: center;
	display: flex;
	padding: 0 2.5rem;
	display: flex;
	flex-flow: row wrap;
}
.course-title-small{
	font-size: 1.25rem;
	line-height: 1.5rem;
	margin-top: 2rem;
}
.course{
	display: flex;
	justify-content: center;
	align-items: center;
}
.course-business{
	background: url(../img/course_business.png) no-repeat center /cover;
}
.course-general{
	background: url(../img/course_general.png) no-repeat center /cover;
}
.course-schoolers{
	background: url(../img/course-schoolers.png) no-repeat center /cover;
}
.course-sheldon{
	background: url(../img/course-sheldon.png) no-repeat center /cover;
}
.course-dash_lily{
	background: url(../img/course_dash_lily.png) no-repeat center /cover;
}
.course-babies{
	background: url(../img/course_babies.png) no-repeat center /cover;
}
.course-teachers{
	background: url(../img/course_teachers.png) no-repeat center /cover;
}
.course-exams{
	background: url(../img/course_exams.png) no-repeat center /cover;
}
.course-travel{
	background: url(../img/course_travel.png) no-repeat center /cover;
}
.course-schoolers-speaking{
	background: url(../img/course-schoolers-speaking.png) no-repeat center /cover;
}
.course-it-english{
	background: url(../img/course-it-english) no-repeat center /cover;
}
.course-dash-lily-marathon{
	background: url(../img/projector.png) no-repeat center /cover;
}
.zoom {
    width: 100%;
    height: 250px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    position: relative;
}
.transition {
    -webkit-transform: scale(1.25); 
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
    position: relative;
}
.transition:after{
	content: "";
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	width: 100%;
	height: 100%;
	background: var(--pale-violet);
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.z-index-1{
	z-index: 1;
}
.z-index-99999{
	z-index: 99999;
}
/*courses*/
.course-left{
	height:  100%;
}
.course-left{
	position: relative;
	min-height: 700px;
}
.course-left:after{
	content: "";
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: var(--pale-violet);
}
.mobile-course-img{
	position: relative;
}
.course-left-business{
	background: url(../img/statue.jpg) no-repeat center /cover;
}
.course-left-general{
	background: url(../img/general-english.jpg) no-repeat center right /cover;
}
.course-left-general:after{
	content: "";
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: var(--pale-violet);
}
.course-left-schoolers{
	background: url(../img/schoolers-english.jpg) no-repeat center /cover;
}
.course-left-sheldon{
	background: url(../img/series.jpg) no-repeat center /cover;
}
.course-left-sheldon{
	background: url(../img/series.jpg) no-repeat center center /cover;
}
.course-left-dash-lily{
	background: url(../img/light-projector.jpg) no-repeat center right /cover;
}
.course-left-babies{
	background: url(../img/baby-angels.png) no-repeat center /cover;
}
.course-left-teachers{
	background: url(../img/teachers.jpg) no-repeat center /cover;
}
.course-left-exams{
	background: url(../img/exams.jpg) no-repeat center /cover;
}
.course-left-travel{
	background: url(../img/travel.jpg) no-repeat center /cover;
}
.course-left-it{
	background: url(../img/course-it-english) no-repeat center /cover;
}

.mobile-course-img{
	display: none;
}
.course-right{
	margin: 3rem 3rem 3rem 3rem;
	display: flex;
	flex-flow: column wrap;
}
.course-page-title{
	font-weight: 600;
	font-size: 2.25rem;
	line-height: 49px;
	margin-bottom: 1.5rem;
}
.course-page-subtitle{
	font-weight: 600;
	font-size: 1.125rem;
	line-height: 24px;
	margin: -1.5rem 0 1.5rem 0;
}
.course-description{
	font-weight: normal;
	font-size: 0.9rem;
	line-height: 1.25rem;
}
.to-courses-btn-container{
	margin-top: 4rem;
}
.to-courses-btn{
	/*width: auto;*/
}
/*-------------------------------back arrow--------https://codemyui.com/back-forward-arrow-animation-using-svg/--------*/
svg {
	 width: 2rem;
	 height: auto;
	 margin-left: 1rem;
	 cursor: pointer;
	 overflow: visible;
	 fill: var(--blue-100);
}
svg polygon, svg path {
	 transition: all 0.5s cubic-bezier(0.2, 1, 0.3, 1);
}
.to-courses-btn:hover polygon, .to-courses-btn:hover path {
	 transition: all 1s cubic-bezier(0.2, 1, 0.3, 1);
}
.to-courses-btn:hover .arrow {
	 animation: arrow-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
.to-courses-btn:hover .arrow-fixed {
	 animation: arrow-fixed-anim 2.5s cubic-bezier(0.2, 1, 0.3, 1) infinite;
}
@keyframes arrow-anim {
	 0% {
		 opacity: 1;
		 transform: translateX(0);
	}
	 5% {
		 transform: translateX(-0.1rem);
	}
	 100% {
		 transform: translateX(1rem);
		 opacity: 0;
	}
}
@keyframes arrow-fixed-anim {
	 5% {
		 opacity: 0;
	}
	 20% {
		 opacity: 0.4;
	}
	 100% {
		 opacity: 1;
	}
}
/*-------------------------------back arrow----------------*/
#lessons-videos{
	background: var(--pale-violet);
	margin-top: 4rem;
}
#lessons-videos h2{
	padding: 2rem 0rem;
}
.body-bg{
	background: var(--grey-100);
	padding-bottom: 2rem;
}

.videos-gallery{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
  	grid-gap: 2rem;
  	grid-auto-rows: minmax(210px, auto);
  	margin: 2rem 0;
}
.videos-gallery .gallery-video{
	background-size: cover;
	background-position: center center;
	height: 100%;
	width: 100%;
	position: relative;
}
.children-videos-gallery a:nth-child(1) .gallery-video{
	background-image: url(../img/chip.png);
}
.children-videos-gallery a:nth-child(2) .gallery-video{
	background-image: url(../img/mona_lisa_lesson.png);
}
.children-videos-gallery a:nth-child(3) .gallery-video{
	background-image: url(../img/maradona.png);
}
.children-videos-gallery a:nth-child(4) .gallery-video{
	background-image: url(../img/how_do_you_feel.png);
}
.children-videos-gallery a:nth-child(5) .gallery-video{
	background: url(../img/talk.png) no-repeat center;
	background-size: contain;
}
.children-videos-gallery a:nth-child(6) .gallery-video{
	background-image: url(../img/exercises.png);
}
.children-videos-gallery a:nth-child(7) .gallery-video{
	background: url(../img/talk.png) no-repeat center;
	background-size: contain;
}
.children-videos-gallery a:nth-child(8) .gallery-video{
	background-image: url(../img/crocodile.png);
}
.children-videos-gallery a:nth-child(9) .gallery-video{
	background-image: url(../img/furniture.png);
}
.older-videos-gallery a:nth-child(1) .gallery-video{
	
}
.older-videos-gallery a:nth-child(2) .gallery-video{
	
}
.older-videos-gallery a:nth-child(3) .gallery-video{
	background-image: url(../img/pisses-off-lesson.jpeg);
}
.older-videos-gallery a:nth-child(4) .gallery-video{
	
}
.older-videos-gallery a:nth-child(5) .gallery-video{
	
}
.older-videos-gallery a:nth-child(6) .gallery-video{
	
}
.older-videos-gallery a:nth-child(7) .gallery-video{
	background-image: url(../img/eating_sounds.png);
}
.older-videos-gallery a:nth-child(8) .gallery-video{
	
}
.videos-gallery .gallery-video i{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 3rem;
	margin-left: -1.5rem;
	margin-top: -1.5rem;
}
.vbox-prev {
    left: 30px;
}
.vbox-next {
    right: 30px;
}
.vbox-close {
	font-size: 2.5rem;
	right: 1rem;
	top: 0.5rem;
}
.videos-gallery .gallery-video i {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 3rem;
    margin-left: -1.5rem;
    margin-top: -1.5rem;
    transition: all .3s ease-in-out;
}
.bi-youtube{
	color: red;
}
.bi-youtube:hover{
	color:#C31A1E;
}
/*__________________________________testimonials______+js____________________________*/

.testimonials-wrapper{
	overflow-x: hidden; /*or overflow-x:scroll */
  	display: flex;
  	flex-flow: row nowrap;
  	margin-bottom: 2rem;
}
.testimonials_bg{
	min-height: 500px;
	min-width: 50vw;
	background: url(../img/testimonials.png) no-repeat left center /contain;
	position: relative;
	margin-right: 5rem;
}
.testimonials_bg:after{
	position: absolute;
	display: flex;
	content: "";
	bottom: 7%;
	left: 3%;
	width: 175px;
	height: 4px;
	background: #ff32b9;
}
.testimonial{
	min-width: 45vw;
	margin-left: -10vw;
	margin-right: 20vw;
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-self: center;
}
.testimonial:before{
	position: absolute;
	display: flex;
	content: "";
	top: 25%;
	left: -12%;
	width: 4px;
	height: 75px;
	background: #ff32b9;
}
.testimonial:after{
	position: absolute;
	display: flex;
	content: "";
	top: 15%;
	left: -10%;
	width: 4px;
	height: 150px;
	background: #ff32b9;
}
.testimonial__text{
	font-size: 0.75rem;
}
.testimonial__author{
	position: relative;
	margin-top: 2rem;
	font-size: 1rem;
	font-weight: 700;
	display: inline-flex;
}
.testimonial__author:after{
	position: absolute;
	content: "";
	display: flex;
	background: #FF32B9;
	width: 175px;
	height: 4px;
	top: 2rem;
	left: 0;
}









/*-------carousel-----------*/

#author1{
	background: url(../img/julia.jpg) center center no-repeat;
	background-size: cover;
}
#author13{
	background: url(../img/incognito.jpg) center center no-repeat;
	background-size: cover;
}

.emoji{
	height: 26px;
	width: 26px;
	margin-bottom: -4px;
	display: inline-block;
}
.smile{
	background: url(../img/smile.png) center center no-repeat;
	background-size: cover;
}
.star-struck{
	background: url(../img/star-struck.png) center center no-repeat;
	background-size: cover;
}
.thumbs-up{
	background: url(../img/thumbs-up.png) center center no-repeat;
	background-size: cover;
}
.heart-eyes{
	background: url(../img/heart-eyes.png) center center no-repeat;
	background-size: cover;
}
.heart{
	background: url(../img/heart.png) center center no-repeat;
	background-size: cover;
}
.kiss{
	background: url(../img/kiss.png) center center no-repeat;
	background-size: cover;
	margin-left: 2px;
}
.kissing-heart{
	background: url(../img/kissing-heart.png) center center no-repeat;
	background-size: cover;
	margin-left: 3px;
}
.one-hundred{
	background: url(../img/100.png) center center no-repeat;
	background-size: cover;
	margin-bottom: -6px;
}
.thinking-face{
	background: url(../img/thinking-face.png) center center no-repeat;
	background-size: cover;
}
.eyebrow{
	background: url(../img/eyebrow.png) center center no-repeat;
	background-size: cover;
}
.wink{
	background: url(../img/winking-face.png) center center no-repeat;
	background-size: cover;
	margin-bottom: -6px;
}
.fire{
	background: url(../img/fire.gif) no-repeat;
	background-size: cover;
	background-size: 20px 26px;
	width: 20px;
}
.party-popper{
	background: url(../img/party-popper.png) no-repeat;
	background-size: cover;
}
.flower{
	background: url(../img/flower.png) no-repeat;
	background-size: cover;
}
/*-----------------------------*/
footer{
	margin-top: 7rem;
	padding: 3rem 1rem 2rem 1rem;
	color: #fff;
}
footer .black-slogan{
	font-size: 2rem;
	line-height: 3rem;
	font-weight: 900;
	text-transform: uppercase;
}
footer .contacts__socials i{
	font-size: 3rem;
	color: #fff;
}
.footer-navigation{
	display: flex;
	flex-flow: row wrap;
	margin-top: -2rem;
}
.footer-navigation li{
	font-size: 1.25rem;
	display: flex;
	width: 50%;
	padding: 2rem;
}
.footer-navigation li:last-child, .footer-navigation li:nth-child(n-1){
	padding-bottom: 0rem;
}
footer a span{
	color: #fff;
	transition: all .3s ease-in-out;
}
footer a:hover span{
	color: var(--violet-90);
	text-decoration: none;
}
footer p{
	font-size: 1rem;
	display: flex;
}
footer .black-slogan:first-child{
	margin-top: 3rem;
}
footer .credits{
	margin-top: 0.5rem;
}
.developer__link{                   
	color: #fff;
	margin-left: 0.5rem;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.developer__link:hover{
	color: var(--blue-60);
	text-decoration:none;
}
.developer__link i{
	margin-left: 4px;
	font-size: 0.75rem;
}

/*__________________________________contacts__________________________________*/
#contacts{
	background-color: var(--pale-pink);
	color: #000;
	padding: 0;
	margin: 7rem 0;
}
#contacts .container{
	padding: 4rem 0;
	display: flex;
    flex-flow: column;
    align-items: center;
}
.contacts__socials{
	display: flex;
	justify-content: center;
}
.contacts__socials a{
	display: flex;
	height: 30px;
	width: 30px;
	margin: 5rem;
}
.contacts__socials i{
	display: flex;
	font-size: 2rem;
	color: #000;
	transition: all .3s ease-in-out;
}
.contacts__socials i:hover{
	color: var(--violet-90);
}
.instagram-link{
	margin: 1rem 0 3rem 0;
	display: flex;
	text-align: center;
	font-size: 1.25rem;
	color: var(--blue-100);
}
.instagram-link p{
	margin: 0;
}
#contacts .btn-general, .btn-general[type="submit"]{
	background-color: var(--pale-pink);
	box-shadow: 7px 7px 4px 0px #9ACDF9;
}
#contacts .btn-general:hover, .btn-general[type="submit"]:hover{
	box-shadow: 1px 1px 1px 1px #9ACDF9;
	transform: translateY(4px);
	color: var(--blue-100);
}
#contacts .btn-general:active, .btn-general[type="submit"]:active{
	transform: translateY(5px);
	border: 1px solid #9ACDF9;
}
/*__________________________________contacts end__________________________________*/