@media (max-width: 1200px) {

}
@media (max-width: 992px) {
	/*#travel-english{
		padding-top: 50px;
	}*/
}
@media (max-width: 768px) {
	/*#travel-english{
		padding-top: 40px;
	}*/
}
@media (max-width: 576px) {
	#travelling-btn{
		margin: 25px auto;
	}
	.travel-english .container{
		max-width: 95%;
	}
	.offer{
		padding-top: 20vh;
		margin-top: 0!important;
	}
}