section#merits.section
	.container.d-flex.justify-content-center
		h2.section__title.animated
			| Як ви будете працювати з нами:
		ul.list
			li.list__item.list__item-1.d-flex
				.list__item-1-left.list__item-text.d-flex.animated
					h3.title
						| Ви будете розмовляти!
						span.title-1-span
							| 90% уроку — це говоріння
					p.decription
						| Ми хочемо, щоб кожна секунда уроку була вичерпно корисно проведена.
						span.one-line
							| Тож урок
						| 								призначений
						span.one-line
							| для говоріння,
						| 								відпрацювання, запам’ятовування.
				.list__item-1-right.list__item-pic.animated
			li.list__item.list__item-2.d-flex
				.list__item-2-left.list__item-pic.animated
				.list__item-2-right.list__item-text.d-flex.animated
					h3.title
						| Ви, звісно, будете писати!
					p.decription
						| Ми розуміємо, що писати — це важливе уміння, особливо
						span.one-line
							| в теперішній
						| 								час. Більшість спілкування
						span.one-line
							| між друзями,
						| 								колегами, партнерами, клієнтами —
						span.one-line
							| це texting.
						span.one-line
							| Тому — creative
						| 								writing, essays, messages, stories —
						span.one-line
							| все це
						| 								включено
						span.one-line
							| в навчальний
						| 								процес.
						span.one-line
							| Але пишемо
						| 								ми менше 10% уроку, решта письмових завдань —
						span.one-line
							| це цікаві,
						| 								креативні домашні завдання
						span.one-line
							| з обов'язковим
						| 								feedback від учителя.
			li.list__item.list__item-3.d-flex
				.list__item-3-left.list__item-text.d-flex.animated
					h3.title
						| Максимально цікаво
					p.decription
						| Кожен урок готується окремо, індивідуально
						span.one-line
							| для кожного студента,
						span.one-line
							| з огляду
						span.one-line
							| на їх інтереси.
						span.one-line
							| Ми впевнені,
						| 								якщо матеріал цікавий — бажання вчитися обов'язково з'явиться!
				.list__item-3-right.list__item-pic.animated
			li.list__item.list__item-4.d-flex.animated
				h3.title
					| Занурення в мову —  
					span.title-4-span
						| запорука вільного володіння
				p.decription
					| Ми вважаємо, що максимальне занурення студента
					span.one-line
						| в мову — найголовніше
					span.one-line
						| у вивченні.
					| 							Вчитель,
					span.one-line
						| як посередник
					| 							знайомить студента
					span.one-line
						| з найцікавішими
					| 							ресурсами: адаптованими
					span.one-line
						| й оригінальними,
					span.one-line
						| щоб "втримати"
					| 							його
					span.one-line
						| в полі
					| 							англійської мови, навіть після уроку.
			li.list__item.list__item-5.d-flex
				.list__item-5-left.list__item-pic.animated
				.list__item-5-right.list__item-text.d-flex.animated
					h3.title
						| Мовлення — перше!
						span.title-5-span
							| Граматика — друге!
					p.decription
						| Ми розуміємо, що спочатку з’явилася мова,
						span.one-line
							| а лише
						| 								потім граматика. Тому ми
						span.one-line
							| не вивчаємо
						| 								мову через граматику,
						span.one-line
							| а розмовляючи,
						| 								відкриваємо граматичні закономірності.
						span.one-line
							| Ті, якими
						| 								користуюся носії мови щодня,
						span.one-line
							| які ми
						| 								чуємо
						span.one-line
							| у фільмах
						span.one-line
							| чи відео,
						span.one-line
							| на вулицях
						span.one-line
							| чи вечірках,
						| 								ділових зустрічах
						span.one-line
							| чи в подорожах.
						| 								Суха, "бездушна" граматика
						span.one-line
							| з підручників
						span.one-line
							| не для нас.
			li.list__item.list__item-6.d-flex.animated
				h3.title
					| Любов до учнів! 
					span.title-6-span
						| Повага до учнів! Прийняття!
				p.decription
					| Кожна людина, яка приймає рішення вчитися, незалежно
					span.one-line
						| від віку,
					| 							заслуговує безмежної поваги.
					span.one-line
						| Кожен має право
					| 							нічого
					span.one-line
						| не знати,
					| 							або знати трішки, робити безліч помилок, боятися, соромитися...
					span.one-line
						| Ми все розуміємо
					span.one-line
						| і працюємо
					| 							для вас!
		.buttons.animated
			a.lesson.black-btn(href='https://forms.gle/Fng8uhescTHZJA5C8' target='_self')
				| Хочу на пробний урок!
			a.lesson.telegram-bot.black-btn(href='https://t.me/ZteacherBot')
				| Зв'язок з Telegram ботом
