footer#footer.footer.bg-dark.animated
  .container
    .row
      .col-4.offset-sm-1.col-sm-2
        h5 Links
        ul.list-unstyled
          li
            a(href='./index.html') Головна
          li
            a(href='./index.html#products') Курси
          li
            a(href='./index.html#merits') Підхід
          li
            a(href='./contacts.html') Контакти
      .col-8.col-sm-5
        h5 Контакти
        div
          i.fa.fa-phone.fa-lg
          a(href='tel:+380958803379')  +380 95 880 3379
          br
          i.fa.fa-envelope.fa-lg
          a(href='mailto:nina30111980@gmail.com')  nina30111980@gmail.com
          br
      .col-12.col-sm-4.align-self-center
        .text-center
          a.btn.btn-social-icon.btn-instagram(href='https://www.instagram.com/zteacher_language_school')
            i.fab.fa-instagram
          a.btn.btn-social-icon.btn-facebook(href='https://www.facebook.com/nina.zelinska.96')
            i.fa.fa-facebook
          a.btn.btn-social-icon.btn-tiktok(href='https://vm.tiktok.com/ZS5eAq1D/')
            i.fab.fa-tiktok
          a.btn.btn-social-icon.btn-instagram(href='https://t.me/ZteacherBot')
            i.fab.fa-telegram-plane
    .row.justify-content-center
      .col-auto
        p.developer.d-flex.justify-content-center.mt-4
          | Powered by
          a.developer__link.d-flex(href='https://www.linkedin.com/in/dima-shutenko/' target='_blank')
            | Dima Shutenko
            i.fab.fa-linkedin
        p.freepic.d-flex.justify-content-center
          a(href='https://www.freepik.com')
            | Vector images by www.freepik.com
        p &copy; Copyright 2020 Zteacher Language School
  // build:js js/scripts.js
  script(src='node_modules/jquery/dist/jquery.slim.min.js')
  script(src='node_modules/popper.js/dist/umd/popper.min.js')
  script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
  script(src='js/youtube.js')
  script(src='js/main.js')
  // endbuild