extends main_template.pug

block content
	header#header.header
		video#bgvid(playsinline='' autoplay='' muted='' loop='' poster='img/static-bridge.jpg')
			source(src='img/bridge.webm' type='video/webm')
			source(src='img/video-bridge.mp4' type='video/mp4')
		.header-wrapper.d-flex.h-100
			.container
				.offer.d-flex.justify-content-end.align-items-center.animated.fadeInUp
					
	section.go-section
		.container.d-flex.justify-content-center
			.go-section__left.flex.animated
				.row
					.col
						h2.go-section__title Запрошуємо на наші уроки!
						#accordion.go-section__description
							.card
								#digital-approach.card-header(role='tab')
									h4.mb-0
										a(data-toggle='collapse' data-target='#tab-1') Digital-підхід
								#tab-1.collapse.show(data-parent='#accordion')
									.card-body
										p.d-block Сучасні діти потребують сучасного підходу до навчання :)
							.card
								#creative-teachers.card-header(role='tab')
									h4.mb-0
										a.collapsed(data-toggle='collapse' data-target='#tab-2') Креативні викладачі
								#tab-2.collapse(data-parent='#accordion')
									.card-body
										p.d-block Навчаємо з завдоволенням, а не заставляємо "зубрити".
							.card
								#vision-change.card-header(role='tab')
									h4.mb-0
										a.collapsed(data-toggle='collapse' data-target='#tab-3') Розширення кругозору
								#tab-3.collapse(data-parent='#accordion')
									.card-body
										p.d-block Ми віримо, що нашою ціллю є дещо більше ніж вивчення миви.
							.card
								#slang-and-trends.card-header(role='tab')
									h4.mb-0
										a.collapsed(data-toggle='collapse' data-target='#tab-4') Сленг та сучасні тренди
								#tab-4.collapse(data-parent='#accordion')
									.card-body
										p.d-block
											span.d-none.d-md-flex Змінюється світ, разом з ним і мова. Ми проти академізму, використовуємо сленг та слідкуємо за сучасними трендами.
							.card
								#students-in-mind.card-header(role='tab')
									h4.mb-0
										a.collapsed(data-toggle='collapse' data-target='#tab-5') Враховуємо інтереси студентів
								#tab-5.collapse(data-parent='#accordion')
									.card-body
										p.d-block  Бажання студентів знаходяться в центрі нашої уваги, ми flexible — тому і такі круті!
				.row.d-none.d-lg-flex
					a.lesson(href='https://forms.gle/Fng8uhescTHZJA5C8' target='_self') Хочу на пробний урок!
			.go-section__right.flex.animated
				.row
					.col
						#videoSlider.carousel.slide(data-ride='carousel' data-pause='hover')
							.carousel-inner(role='listbox')
								.carousel-item.active
									#player1
									// <iframe class="youtube-video" width="100%" height="100%" src="https://www.youtube.com/embed/EPrfAAcATpo?enablejsapi=1&version=3&playerapiid=ytplayer" modestbranding="0"  controls="0" frameborder="0" allow=" autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								.carousel-item
									#player2
									// <iframe class="youtube-video" width="100%" height="100%" src="https://www.youtube.com/embed/rBmwiuFCKDc?enablejsapi=1&version=3&playerapiid=ytplayer" modestbranding="0"  controls="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								.carousel-item
									#player3
									// <iframe class="youtube-video" width="100%" height="100%" src="https://www.youtube.com/embed/Q1HJWz0ZPzA?enablejsapi=1&version=3&playerapiid=ytplayer" modestbranding="0"  controls="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								.carousel-item
									#player4
									// <iframe class="youtube-video" width="100%" height="100%" src="https://www.youtube.com/embed/U8iV7-ryWTM?enablejsapi=1&version=3&playerapiid=ytplayer" modestbranding="0"  controls="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								.carousel-item
									#player5
									// <iframe class="youtube-video" width="100%" height="100%" src="https://www.youtube.com/embed/jxHRecQDBU0?enablejsapi=1&version=3&playerapiid=ytplayer" modestbranding="0"  controls="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								.carousel-item
									#player6
									// <iframe class="youtube-video" width="100%" height="100%" src="https://www.youtube.com/embed/VEAnSCka81c?enablejsapi=1&version=3&playerapiid=ytplayer" modestbranding="0"  controls="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
								.carousel-item
									#player7
									// <iframe class="youtube-video" width="100%" height="100%" src="https://www.youtube.com/embed/vFX2Ynnff38?enablejsapi=1&version=3&playerapiid=ytplayer" modestbranding="0"  controls="0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				.row
					.col
						.videoSlider-controls
							a.carousel-control-prev(href='#videoSlider' role='button' data-slide='prev')
								i.fas.fa-angle-left
							a.carousel-control-next(href='#videoSlider' role='button' data-slide='next')
								i.fas.fa-angle-right
				.row.d-flex.d-lg-none
					a.lesson(href='https://forms.gle/Fng8uhescTHZJA5C8' target='_self') Хочу на пробний урок!
	






	include products.pug
	include approach.pug
	include reviews.pug


	