extends header&content&footer_template.pug

block content
	header#header.header
		.header-wrapper.d-flex.h-100
			.container
				.offer.d-flex.justify-content-center.align-items-center.animated.fadeInUp.h-100
					a.offer__logo.d-flex(href='https://www.zteacher.com.ua/')
						.arrow-down
							.center-con
								.round
									span.arrow.primera
										i.fas.fa-chevron-down
											span.arrow.segunda
												i.fas.fa-chevron-down

	