section.section#intro
	.background-gradient-intro
		.container
			.row.d-flex.justify-content-center.align-items-center
				.col-12.col-sm-6.col-lg-4
					.school-advantage.d-flex.animated#digital-approach
						h4 Digital-підхід
				.col-12.col-sm-6.col-lg-4
					.school-advantage.animated#students_interests
						h4 Враховуємо інтереси студентів
				.col-12.col-sm-6.col-lg-4
					.school-advantage.animated#creative_teachers
						h4 Креативні викладачі
				.col-12.col-sm-6.col-lg-4
					.school-advantage.animated#horison_expansion
						h4 Розширення кругозору
				.col-12.col-sm-6.col-lg-4
					.school-advantage.animated#modern_trends
						h4 Сленг та сучасні тренди
			.row.d-none.d-md-flex
				.col
					.secret-box.animated.d-flex.justify-content-center.align-items-center.w-100.rounded.mt-5
						h3.secret-message Залюбки розповімо вам про нас, обирайте пункт!


		