nav.navbar.navbar-expand-sm.navbar-dark.bg-dark-primary.fixed-top
      .container.align-items-bottom
        a.navbar-brand.mr-auto(href='#')
          img(src='img/new-logo.png' alt='Zteacher logo' height='50' width='125')
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarMenu')
          span.navbar-toggler-icon
        #navbarMenu.collapse.navbar-collapse
          ul.navbar-nav.w-100
            li.nav-item.ml-3
              a.nav-link.active(href='#')
                span.fa.fa-home.fa-lg  Головна
            li.nav-item.ml-2
              a.nav-link(href='#products')
                span.fas.fa-chalkboard-teacher.fa-lg  Курси
            li.nav-item.ml-2
              a.nav-link(href='#merits')
                span.far.fa-smile-wink.fa-lg  Підхід
            li.nav-item.ml-2
              a.nav-link(href='./contacts.html')
                span.fa.fa-address-card.fa-lg  Контакти