nav.navbar.navbar-expand-sm.align-items-center.navbar-light.bg-dark-primary
      .container.align-items-bottom
        a.navbar-brand.d-flex.mr-auto(href='https://www.zteacher.com.ua/')
          h4.d-flex Zteacher 
          h4.ml-2.d-none.d-md-flex Language School
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarMenu')
          span.navbar-toggler-icon
        #navbarMenu.collapse.navbar-collapse
          ul.navbar-nav.w-100.justify-content-end
            li.nav-item.active.ml-2
              a.nav-link(href='#')
                span Головна
            li.nav-item.ml-2
              a.nav-link(href='#products')
                span Курси
            li.nav-item.ml-2
              a.nav-link(href='#merits')
                span Підхід
            li.nav-item.ml-2
              a.nav-link(href='./contacts.html')
                span Контакти