section#products
	.container-fluid
		h2.section__title.animated
			| Наші курси
		.row.row-0
			.col-md-8.col-12
				.product-0
					.product-bg-part.product-0-bg-part.animated
						.product-bg.product-0-bg.d-flex
							.product-img.product-0-img
								.product-inner.product-0-inner
									h3.product-name.mb10 Курс по серіалу Young Sheldon
									p.product-description
										| Сімейна комедія, від якої всі в захваті.
									p.product-description.d-md-none.d-lg-block
										| Кожному буде, з чого посміятися досхочу!
									p.product-description
										| Наші вчителі допоможуть не лише
									p.product-description
										| виконати вправи, а потурбуються,
									p.product-description
										| щоб отримані знання залишилися
									p.product-description
										| в вашому активному словнику.
									p.product-description.mt-1
										img.course-price-img(src='img/video-lesson.png' alt='course-price')
										span.price
											| 10 уроків
									p.product-description.mt-1
										img.course-price-img(src='img/money.png' alt='course-price')
										span.price
											| 2500 грн
									a.more.more-sheldon(href='sheldon.html' target='_self')
										| Деталі
			.d-none.d-md-block.col-md-4.col-6.mb20
				.product-7
					.product-bg-part.product-7-bg-part.animated
						.product-bg.product-7-bg.d-flex
							.product-img.product-7-img
								.product-inner.product-7-inner
									h4.product-name.mr-2  Уроки для юних
									h4.product-name  IT-шників
									p.product-description
										| Основи програмування:
									p.product-description
										| індивідуально
									p.product-description
										| та в групі.
									a.more.more-it(href='it.html' target='_self')
										| Деталі
		.row.row-1
			.col-md-4.col-sm-6.col-6
				a.product-1(href='https://forms.gle/Fng8uhescTHZJA5C8' target='_self')
					.product-bg-part.product-1-bg-part.animated
						.product-bg.product-1-bg.d-flex
							.product-img.product-1-img
								.product-inner.product-1-inner
									h3.product-name.mb10
										| Загальна англійська
									p.product-description
										| Для початківців, середнього
									p.product-description
										| та просунутого рівнів.
									p.product-description.mt-1
										img.course-price-img(src='img/money.png' alt='course-price')
										span.price
											| від 250 грн/год
			.col-md-4.col-sm-6.col-6.mb20
				a.product-2(href='https://forms.gle/Fng8uhescTHZJA5C8' target='_self')
					.product-bg-part.product-2-bg-part.animated
						.product-bg.product-2-bg.d-flex
							.product-img.product-2-img
								.product-inner.product-2-inner
									h4.product-name.mb10
										| Розмовна англійська
									p.product-description
										| Для всіх рівнів.
									p.product-description.mt-1
										img.course-price-img(src='img/money.png' alt='course-price')
										span.price
											| від 250 грн/год
			.col-md-4.col-12
				a.product-3(href='https://forms.gle/Fng8uhescTHZJA5C8' target='_self')
					.product-bg-part.product-3-bg-part.animated
						.product-bg.product-3-bg.d-flex
							.product-img.product-3-img
								.product-inner.product-3-inner
									h4.product-name
										| Курс з математики
									h4.product-name.mr-2
										| та логіки
									h4.product-name.mb10
										| для дітей
									p.product-description
										| Основні математичні
									p.product-description
										| терміни та дії
									p.product-description
										| англійською +
									p.product-description
										| багато практики
		.row.row-2
			.col-lg-6.col-12.mb25
				a.product-4(href='https://forms.gle/Fng8uhescTHZJA5C8' target='_self')
					.product-bg-part.product-4-bg-part.animated
						.product-bg.product-4-bg.d-flex
							.product-img.product-4-img
								.product-inner.product-4-inner
									h4.product-name.mb10
										| Вебінари від засновниці школи
										span.one-line
											| Nina Zelinska
										span.one-line
											| для вчителів
									p.product-description
										| Інтернет ресурси — де знайти найкраще,
									p.product-description
										| як використати найефективніше.
									p.product-description
										| Незабутні уроки, що стануть
									p.product-description
										| причиною для учнів полюбити
									p.product-description
										| англійську назавжди.
									p.product-description
										| 12 кроків і ви THE ONE
									p.product-description
										| з власним брендом
									p.product-description
										| «Як показати світу,
									p.product-description
										| на що Ви здатні!!!»
			.col-lg-6.col-12
				.product-5
					.product-bg-part.product-5-bg-part.animated
						.product-bg.product-5-bg.d-flex
							.product-img.product-5-img
								.product-inner.product-5-inner
									h4.product-name.mb10
										| Курс «Подорожі з легкістю»
									p.product-description
										| Позбавимо вас від страху непорозумінь
									p.product-description
										| під час подорожей за 10 занять.
									p.product-description
										| Розбираємо та тренуємо
									p.product-description
										| найбільш важливі теми
									p.product-description
										| та знайомимось
									p.product-description
										| з визначними місцями.
									a#more-travel.more(href='travel.html' target='_self')
										| Деталі
		.row.row-3
			.col-md-4.col-6
				a.product-6(href='https://forms.gle/jYivvvuxhDRf25326' target='_self')
					.product-bg-part.product-6-bg-part.animated
						.product-bg.product-6-bg.d-flex
							.product-img.product-6-img
								.product-inner.product-6-inner
									h4.product-name.mb10
										| Гарячі дискусії
									p.product-description
										| Найактуальніші теми
									p.product-description
										| та гарантоване
									p.product-description
										| збільшення
									p.product-description
										| словникового
									p.product-description
										| запасу!
			.d-md-none.col-md-4.col-6.mb20
				.product-7
					.product-bg-part.product-7-bg-part.animated
						.product-bg.product-7-bg.d-flex
							.product-img.product-7-img
								.product-inner.product-7-inner
									h4.product-name
										| Уроки для юних
									h4.product-name
										| IT-шників
									p.product-description
										| Основи програмування:
									p.product-description
										| індивідуально
									p.product-description
										| та в групі.
									a.more.more-it(href='it.html' target='_self')
										| Деталі
			.col-md-4.col-6
				a.product-8(href='https://forms.gle/Fng8uhescTHZJA5C8' target='_self')
					#exams.product-bg-part.product-8-bg-part.animated
						.product-bg.product-8-bg.d-flex
							.product-img.product-8-img
								.product-inner.product-8-inner
									h4.product-name.mb10
										| Підготовка до іспитів
									p.product-description
										| ДПА, ЗНО,
									p.product-description
										| IELTS, TOEFL
