section#products
	.container
		h2.section__title.animated
			| Наші курси
		.row.courses
			.course.col-12.col-md-6.col-lg-4
				.card
					img.card-img-top(src='img/sheldon-header.jpg' alt='Sheldon')
					.card-body
						h5 
							a(href='#') Курс по серіалу
								span.blue.ml-1 Young Sheldon
						span.course-duration 10 уроків
						span.course-price 2500 грн
						p.card-text.
							Сімейна комедія, від якої всі в захваті.
							Кожному буде, з чого посміятися досхочу!
							Наші вчителі допоможуть не лише
							виконати вправи, а потурбуються,
							щоб отримані знання залишилися
							в вашому активному словнику.
			.course.col-12.col-md-6.col-lg-4
				.card
					img.card-img-top(src='img/coders.jpg' alt='Sheldon')
					.card-body
						h5 Уроки для юних IT-шників
						p.card-text.
							Основи програмування: індивідуально та в групі.
			.course.col-12.col-md-6.col-lg-4
				.card
					img.card-img-top(src='img/sheldon.png' alt='Sheldon')
					.card-body
						h4 Курс по серіалу
							span Young Sheldon
						p.card-text.
							Сімейна комедія, від якої всі в захваті.
							Кожному буде, з чого посміятися досхочу!
							Наші вчителі допоможуть не лише
							виконати вправи, а потурбуються,
							щоб отримані знання залишилися
							в вашому активному словнику.
			.course.col-12.col-md-6.col-lg-4
				.card
					img.card-img-top(src='img/sheldon.png' alt='Sheldon')
					.card-body
						h4 Курс по серіалу
							span Young Sheldon
						p.card-text.
							Сімейна комедія, від якої всі в захваті.
							Кожному буде, з чого посміятися досхочу!
							Наші вчителі допоможуть не лише
							виконати вправи, а потурбуються,
							щоб отримані знання залишилися
							в вашому активному словнику.
			.course.col-12.col-md-6.col-lg-4
				.card(style='width: 18rem;')
					img.card-img-top(src='img/sheldon.png' alt='Sheldon')
					.card-body
						h4 Курс по серіалу
							span Young Sheldon
						p.card-text.
							Сімейна комедія, від якої всі в захваті.
							Кожному буде, з чого посміятися досхочу!
							Наші вчителі допоможуть не лише
							виконати вправи, а потурбуються,
							щоб отримані знання залишилися
							в вашому активному словнику.
			.course.col-12.col-md-6.col-lg-4
				.card(style='width: 18rem;')
					img.card-img-top(src='img/sheldon.png' alt='Sheldon')
					.card-body
						h4 Курс по серіалу
							span Young Sheldon
						p.card-text.
							Сімейна комедія, від якої всі в захваті.
							Кожному буде, з чого посміятися досхочу!
							Наші вчителі допоможуть не лише
							виконати вправи, а потурбуються,
							щоб отримані знання залишилися
							в вашому активному словнику.
			

