section#reviews.section.animated
	.container.mt-2
		h2.section__title.mb-3
			| Відгуки наших клієнтів
		.row.row-content
			.col
				#mycarousel.carousel.slide(data-ride='carousel')
					.carousel-inner(role='listbox')
						.carousel-item.active
							#review1.review
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author1.author-img
											.author-name
												| Юлія Войналович
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Дорога наша Ніна, ось вже 6 років
												span.one-line
													| як ви вчите
												span.one-line.	
													мого сина,
												span.one-line
													| та 3 роки,
												| 														як вчите мене!
												span.one-line
													| Я не знаю
												| 														більші відданішого, більш креативного
												span.one-line
													| та більш
												| 														талановитого вчителя
												span.one-line
													| ніж ви!!!
												| 														Саме велике досягнення
												span.one-line
													| у навчанні
												| 														мого сина пов'язані саме
												span.one-line
													| з англійською,
												span.one-line
													| саме Ви
												| 														розширяєте його кругозір
												span.one-line
													| та вчите
												| 														толерантності, повазі, заохочуєте розвиватися
												span.one-line
													| та творити!!!
												span.one-line
												|	Якщо б хоч
												| 	1% вчителів
												span.one-line
													| так відносились
												span.one-line
													| до свого
												| 														діла, наша освіта була б набагато краща!!
											span.mt-2
												span.one-line
													| Нехай  ваша школа розвивається
												span.one-line
													| та прогресує!!!
												span.one-line
													| Дякую за ваш труд!
													span.emoji.heart
													span.emoji.heart
													span.emoji.heart
												span.one-line
													span.emoji.flower
													span.emoji.flower
													span.emoji.flower
													span.emoji.flower
													span.emoji.flower
						.carousel-item
							#review2.review.d-flex
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author2.author-img
											.author-name
												| Слава Шиманский
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Мне очень нравятся занятия
												span.one-line
													| с Лизой.
												span.d-none.d-sm-inline
													span.one-line
														| Она как преподаватель
													|  очень грамотная,
													span.one-line
														| а как человек
													| 															очень интересная.
												span.one-line
													| Во время
												| 														уроков время летит очень быстро,
												span.one-line
													| чем доказывает
												| 														мой интерес
												span.one-line
													| к уроку.
												| 														Весь урок
												span.one-line
													| мы говорим
												| 														исключительно
												span.one-line
													| на английском
												| 														языке,
												span.one-line
													| даже если я не знаю
												| 														какого-то слова,
												span.one-line
													| Лиза мне
												| 														объясняет
												span.one-line
													| на английском
												| 														значение этого слова. Очень много разговорной практики,
												span.one-line
													| это как большой
												| 														плюс,
												span.one-line
													| а также
												| 														грамматики,
												span.one-line
													| что тоже
												span.one-line
													| не мало важно.
												span.one-line
													| В общем,
												| 														уроки очень интересные, познавательные
												span.one-line
													| и Лиза,
												span.one-line
													| как учитель
												span.one-line
													| мне очень нравится!
						.carousel-item
							#review3.review.d-flex
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author3.author-img
											.author-name
												| Илья Кушнерик
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Мне всё очень нравится,
												span.one-line
													| уже за собой
												| 														заметил,
												span.one-line
													| что стал
												| 														больше понимать, легче стало воспринимать текст. Руслана тчательно подходит
												span.one-line
													| к занятиям,
												| 														всё без сучка
												span.one-line
													| и задоринки).
												span.one-line
													| Она справляется
												span.one-line
													| со своей
												| 														задачей
												span.one-line
													| на все 
													span.emoji.one-hundred
												span.one-line.
													Хоть мне и тяжеловато успевать
												span.one-line
													| за ней,
												span.one-line
													| но я считаю,
												span.one-line
													| что это наоборот
												| 														плюс, потому что когда информация быстро воспринимается
												span.one-line
													| то и возростает
												| 														концентрация. Поэтому
												span.one-line
													| мне всё подходит.
												| 														Спасибо)
						.carousel-item
							#review4.review.d-flex
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author4.author-img
											.author-name
												| Анастасія Гуминська
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Подобається,
												span.one-line
													| що Юля
												| 														дуже доступно пояснює, підбирає цікавий матеріал,
												span.one-line
													| відео і таке інше.
												| 														Подобається,
												span.one-line
													| що цілу
												| 														годину присвячено мені
												span.one-line
													| (хоч я обожнюю
												| 														наші групові уроки).
												span.one-line
													| Це чудова ідея
												span.one-line
													| мати і групові
												span.one-line
													| і індивідуальні
												| 														заняття.
						.carousel-item
							#review5.review.d-flex
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author5.author-img
											.author-name
												| Светлана Боятюк
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Меня Лиза сегодня вдохновила
												span.one-line
													| на написание
												| 														отзыва
												span.emoji.smile
												span.d-none.d-sm-inline
													| Обсуждали волнующую
													span.one-line
														| меня тему
													span.one-line
														| о памяти
													| 															человека
													span.emoji.thinking-face
													span.one-line
														| Я поняла,
													span.one-line
														| лучше я буду
													span.one-line
														| жить и дальше
													span.one-line
														| со своим склерозом,
														span.emoji.wink
													span.one-line
														| чем мучиться,
													span.one-line
														| как некоторые
													| 															люди
													span.emoji.eyebrow
												|  Залог успешного обучения
												span.one-line
													| чему-либо —
												| 	желание ученика обучаться
												span.one-line
													| и отличный
												| 														учитель, такой
												span.one-line
													| как Лиза!
													span.emoji.heart
												span.one-line
													| Весь урок
												| 														общаемся только
												span.one-line
													| на английском
												| 														языке.
												span.one-line
													| Мне нравится всё:
												| 														доступное объяснение грамматики, каждый урок обсуждаем новые интересные темы.
												| 														Благодаря Лизе преодолеваю языковой барьер
												span.one-line
													| с каждым
												span.one-line
													| уроком все больше.
						.carousel-item
							#review6.review.d-flex
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author6.author-img
											.author-name
												| Олена Савчук
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Ніно, дякую
												span.one-line
													| за ваше
												| 														ставлення
												span.one-line
													| до студентів,
												span.one-line
													| до процесу
												| 														навчання.
												span.one-line
													| Ви талановитий
												| 														педагог
												span.one-line
													| і чудова
												| 														людина. Бачили
												span.one-line
													| б ви мої очі,
												| 														 коли після першого
												span.one-line
													| ж заняття
												span.one-line
													| у вас
												| 														син повернувся
												span.one-line
													| в доброму
												| 														гуморі, наспівуючи якийсь куплетик англійською!
												span.one-line
													| Я запитала:
												span.one-line
													| це ви на уроці
												| 														вивчили? Він сказав:
												span.one-line
													| ні, ми не вчили.
												span.one-line
													| Я здивувалася
												span.one-line
													| ще більше.
												| 														Спитала:
												span.one-line
													| а що ж ви робили?
												span.one-line
													| Син сказав:
												span.one-line
													| та просто
												| 														бавились. Танцювали, стрибали... Просто бавились!!!
												span.one-line
													| Дякую вам,
												span.one-line
													| що отак,
												| 														легко, бавлячись, навчаєте дітей англійської,  навичкам спілкування
												span.one-line
													| і віри
												span.one-line
													| у власні
												| 														сили.
												span.d-none.d-sm-inline
													| Сьогодні порахувала: дев'ять років вивчаємо мову
													span.one-line
														| з вами.
													span.one-line
														| І весь
													span.one-line
														| цей час
													| 															динаміка, інтерес, розвиток.  Практичні мовні навички.
													span.one-line
														| І гідність.
													span.one-line
														| Це дуже
													| 															важливо.
												span.one-line
													| Дякую вам!
												span.one-line
													| Це щастя,
												| 															навчатися
												span.one-line
													| у вас.
						.carousel-item
							#review7.review.d-flex
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author7.author-img
											.author-name
												| Семен Седов
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Отзыв однозначно - отличный! Занятия проходят
												span.one-line
													| в адаптивном
												| 														режиме, подстаиваясь
												span.one-line
													| под студента.
												span.one-line
													| Т.е. не "идем строго
												span.one-line
													| по заданию",
												span.one-line
													| а пытаемся
												| 														понять
												span.one-line
													| что нужно
												| 														студенту
												span.one-line
													| и как это можно
												| 														эффективно исправить
												span.one-line
													| и работаем над этим.
												| 														Спасибо большое, продолжаю заниматься здесь
												span.one-line
													| и другим
												span.one-line
													| буду советовать!
											span.mt-2
												| Цена занятии просто шикарная!
												span.one-line
													| Это третья
												span.one-line
													| моя школа,
												span.one-line
													| в других
												| 														платил больше,
												span.one-line
													| а толку
												span.one-line
													| было меньше
												span.one-line
													| чем здесь.
						.carousel-item
							#review8.review.d-flex
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author8.author-img
											.author-name
												| Синчак Катерина
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Заняття проходять цікаво, теми актуальні, а атмосфера дуже дружня та тепла, що полегшує процес навчання. На цих уроках ростеш морально, адже потрібно багато думати про життєві питання, вміти відстоювати свою думку, висловлювати її. За два роки навчання я помітила достатній «ривок» у своїй англійській, особливо розмовній.
						.carousel-item
							#review9.review
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author9.author-img
											.author-name
												| Ірина Овечкина
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												span.d-none.d-sm-inline
													| Випадково трапився  чудовий відгук моєї  знайомої про ваші заняття
													span.one-line
														| з англійськоі
													|  мови. Тепер
													span.one-line
														| і самій
													| 															хочеться поділитися
													span.one-line
														| враженнями
														span.emoji.smile
														|  )
												| 														Спочатку були сумніви, щодо юного
												span.emoji.star-struck
												| 														віку викладача якого
												span.one-line
													| Ви нам запропонували,
												| 														але виявилося,
												span.one-line
													| що це ВЕЛИКИЙ  плюс
													span.emoji.thumbs-up
													| 															!
												span.one-line
													| Вона надихає
												| 														вивчати
												span.one-line
													| з задоволенням,
												span.one-line
													| і уроки
												| 														проводить цікаво! Донька чекає
												span.one-line
													| на зустріч
												span.one-line
													| з викладачем,
												span.one-line
													| і це для мене
												| 														дуже важливо!
												span.emoji.heart-eyes
												span.one-line
													| Бо коли
												| 														діти вчаться
												span.one-line
													| з цікавістю
												span.one-line
													| та задоволенням,
												| 														тоді і є результати!
												span.one-line
													| Дуже вдячна
												span.one-line
													| за таку
												| 														подачу уроків,
												span.one-line
													| це якраз
												span.one-line
													| те що потрібно
												| 														сучасним дітям!
												span.one-line
													span.emoji.heart
													span.emoji.heart
													span.emoji.heart
												span.one-line
													| І приємно,
												span.one-line
													| що завжди
												| 														йде нам назустріч який день
												span.one-line
													| та час
												| 														провести
												span.one-line
													| заняття!
													span.emoji.kiss
												| 														Задоволена,
												span.one-line
													| що знайшла
												| 														вас!
												span.one-line
													span.emoji.kissing-heart
													span.emoji.kissing-heart
													span.emoji.kissing-heart
						.carousel-item
							#review10.review.d-flex
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author9.author-img
											.author-name
												| Софія Дашевська
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Мені дуже подобаються уроки англійської мови у цій школі і я не бачу недоліків та дуже вдячна вчителям.
						.carousel-item
							#review11.review.d-flex
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author9.author-img
											.author-name
												| Мирослава Шевченко
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Our dearest Nina! Ви - справжня вчителька - винахідлива, натхненна і невтомна. Завдяки Вашому таланту наші діти вжилися в англійську мову, яка відкриє їм світ. Завдяки Вам, ми - дорослі люди - перестали боятися складати незнайомі слова в речення, які інколи не мають сенсу. Завдяки Вам кінець робочих днів у середу й п'ятницю був легким і цікавим.
											span.mt-2
												| Многая літа, дорога вчителько, серед розумних учнів, які назавжди стали і ставатимуть друзями. Дякую Вам за все!
												span.emoji.heart
												span.emoji.heart
												span.emoji.heart
						.carousel-item
							#review12.review.d-flex
								.row.align-items-center
									.col-md-12.col-lg-2
										.review__author.d-flex.justify-content-center.align-items-center
											#author9.author-img
											.author-name
												| Алёна Копина
									.col-md-12.col-lg-10
										.review__text.d-flex.align-items-center
											span
												| Дорогая Лера.
											span.mt-2
												| Я очень благодарна за наше сотрудничество. Кажый ваш урок вдохновлял и мотивировал меня продолжать обучение) в результате нашей совместной работы я смогла:
											span.mt-2
												| 1. плодотворно общаться со своими иностранными партнерами на темы, касающиеся текущего проекта.
											span.mt-2.d-block.mr-5
												| 2. расширить мой  словарный запас.
											span.mt-2.d-block
												| 3. лучше воспринимать английский на слух.
											span.mt-2
												| Я уверена, что это стало возможно, потому Вы внимательны к потребностям студента, быстро и гибко реагируете на них
												span.d-none.d-md-inline
													| (например, мне было оцень важно, чтобы мы обсуждали темы, которые мне интересны и вы давали эту возможность, давали мне темы, на которые я не всегда обращала внимания, но они оказались по-настоящему ценны для  развития моих способностей в изучении языка и общего развития)
												| 														.
											span.mt-2.d-none.d-md-inline
												| Кроме того поддерживали меня в процессе - очень корректно и деликатно исправляли мои ошибки. Я впервые увидела преподавателя с авторским подходом))) Я ожидала ваших ярких и захватывающих презентаций, интересных вопросов (они возбуждают интерес и воображение))) Чего мне не хватило. Мне нужно больше времени на освоение грамматики и ее повторения. Но я понимаю, что это исключительно моя ответственность и недостаточное внимание домашним заданиям. Для меня невроятно ценно, что во время нашего общения я чувствовала, что говорю с другом, с которым могу открыто делиться  своими переживаниями, мнениями, новостями.
											span.mt-2.d-none.d-md-inline
												| Спасибо большое за это общение и возможность обучаться у ВАС. Лера, желаю Вам удачи, дальнейшего развития и удовольствия от работы и всего, чем занимаетесь)
					ol.carousel-indicators
						li.active(data-target='#mycarousel' data-slide-to='0')
						li(data-target='#mycarousel' data-slide-to='1')
						li(data-target='#mycarousel' data-slide-to='2')
						li(data-target='#mycarousel' data-slide-to='3')
						li(data-target='#mycarousel' data-slide-to='4')
						li(data-target='#mycarousel' data-slide-to='5')
						li(data-target='#mycarousel' data-slide-to='6')
						li(data-target='#mycarousel' data-slide-to='7')
						li(data-target='#mycarousel' data-slide-to='8')
						li(data-target='#mycarousel' data-slide-to='9')
						li(data-target='#mycarousel' data-slide-to='10')
						li(data-target='#mycarousel' data-slide-to='11')
					a.carousel-control-prev(href='#mycarousel' role='button' data-slide='prev')
						i.fas.fa-angle-left
					a.carousel-control-next(href='#mycarousel' role='button' data-slide='next')
						i.fas.fa-angle-right
