doctype html
html(lang='ua')
	head
	meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
	link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&display=swap' rel='stylesheet')
	link(href='https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap' rel='stylesheet')
	link(href='https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap' rel='stylesheet')
	script(src='https://kit.fontawesome.com/80a7e9f90a.js')
	// build:css css/styles.css
	link(rel='stylesheet' href='node_modules/bootstrap/dist/css/bootstrap.min.css')
	link(rel='stylesheet' href='node_modules/font-awesome/css/font-awesome.min.css')
	link(rel='stylesheet' href='node_modules/bootstrap-social/bootstrap-social.css')
	link(rel='stylesheet' href='css/fonts.css')
	link(rel='stylesheet' href='css/animate.css')
	link(rel='stylesheet' href='css/main.css')
	link(rel='stylesheet' href='css/media.css')
	link(rel='stylesheet' href='css/products.css')
	link(rel='stylesheet' href='css/travel.css')
	link(rel='stylesheet' href='css/products_media.css')
	link(rel='stylesheet' href='css/travel_media.css')
	link(rel='shortcut icon' href='img/favicon.png' type='image/x-icon')
	meta(name='description' content='Онлайн курс ПОДОРОЖІ в Zteacher Language School')
	// Whats app description
	meta(name='keywords' content='zteacher, English, learning')
	meta(property='og:title' content='Спілкуйтеся в подорожах з комфортом!')
	meta(property='og:description' content='') 
	// bottom
	meta(property='og:type' content='article')
	meta(property='og:image' content='img/favicon.png')
	meta(property='og:site_name' content='Zteacher Language School')
	title Подорожі в Zteacher
	// Facebook Pixel Code
	script.
		!function(f,b,e,v,n,t,s) {if(f.fbq)return;n=f.fbq=function(){n.callMethod? n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0'; n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script', 'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '1559678327532298');
		fbq('track', 'PageView');
	noscript
		img(height='1' width='1' style='display:none' src='https://www.facebook.com/tr?id=1559678327532298&ev=PageView&noscript=1')
	// End Facebook Pixel Code
	body
		include navigation.pug

		header#header.header.animated.fadeIn
			.header-wrapper.h-100
				.container
					.offer.d-flex.justify-content-center.animated.fadeInUp
						h1.course-title.justify-content-center(onmouseover='mouse_on_course_title()')
							| Курс ПОДОРОЖІ
						a.course_more_info.d-flex.justify-content-center.animated(href='#travel-english')
							.more_info.d-flex.justify-content-center
								p
									| Дізнатись більше
		section#travel-english.section
			.container
				.row
					.col-md-8
						.course-intro.animated
							h3.course-title-small
								| Курс "Подорожі з легкістю"
								span.one-line
									| в Zteacher language school
							p
								| Судячи з інстаграм, перші ластівки полетіли
								span.one-line
									| до вже
								| 							приймаючих готелів,
								span.one-line
									| в межах
								| 							України. Невдовзі найсміливіші відправляться
								span.one-line
									| і в закордонні
								| 							поїздки.
								span.one-line
									| У нас,
								span.one-line
									| для плануючих
								| 							відпочивати
								span.one-line
									| із задоволенням,
								span.one-line
									| та отримати
								| 							максимум
								span.one-line
									| від подорожей,
								| 							нереально цікава пропозиція.
							p
								span.one-line
									| Ще до lockdown
								span.one-line
									| (закриття кордонів)
								span.one-line
									| ми розпочали
								| 							роботу
								span.one-line
									| над курсом
								span.one-line
									| з 10 уроків,
								span.one-line
									| над курсом
								| 							тривалістю
								span.one-line
									| 1.15 год,
								span.one-line
									| для бажаючих
								| 							подорожувати.
								span.one-line
									| Тож наразі
								| 							курс готовий!!!
								span.one-line
									| А ми готові
								span.one-line
									| його представити
								| 							вашій увазі
								span.one-line
									| та викладати
								span.one-line
									span.emoji.party-popper
									span.emoji.party-popper
									span.emoji.party-popper
					.col-md-4
						.course-details.animated
							h4.d-block.d-sm-none.course-description-title
								| Що це за курс:
							ul.course-description-list
								li.course-description-list-item
									p
										| 10 уроків, тривалістю
										span.one-line
											| 1.15 год.
								li.course-description-list-item
									p
										| найцікавіші факти,
										span.one-line
											| про місця
										span.one-line
											| 10ти міст
										|                     	            світу
								li.course-description-list-item
									p
										| 10 тем, якими найважливіше оволодіти для вільного, впевненого спілкування під час подорожей
								li.course-description-list-item
									p
										| пропрацювання лексики, конструкцій, сталих виразів
								li.course-description-list-item
									p
										| незважаючи на курс, індивідуальний підхід до кожного студента зберігається (адаптуємо урок відповідно
										span.one-line
											| до інтересів
										span.one-line
											| та здібностей
										|                     	             студента)
								li.course-description-list-item
									p
										| можливість пройти курс
										span.one-line
											| з другом,
										span.one-line
											| та навіть
										|                     	            групою друзів
										span.emoji.fire
										span.emoji.fire
										span.emoji.fire
				.row
					.buttons.animated
						a.lesson.black-btn(href='https://forms.gle/jYivvvuxhDRf25326')
							| Хочу на пробний урок!
						a.lesson.telegram-bot.black-btn(href='https://t.me/ZteacherBot')
							| Зв'язок з Telegram ботом


		include footer.pug
    


	