section#products
	.container
		h2.section__title.animated
			| Наші курси
		.row.courses
			.course.col-12.col-md-6.col-lg-4
				.card
					.card-img-top(style='background-image: url(img/london.jpeg);')
					.card-body
						h5 
							a(href='#') Загальна англійська
						span.badge.badge-pill.badge-danger.mr-2 Популярний
						span.badge.badge-pill.badge-success.course-price від 250грн/год
						p.card-text
							ul.list-with-ticks
								li 
									span.fa.fa-check.fa-lg.mr-1
									span Для початківців
								li 
									span.fa.fa-check.fa-lg.mr-1
									span Для студентів з середнім рівнем
								li 
									span.fa.fa-check.fa-lg.mr-1
									span Для студентів з просунутим рівнем
							//- a.btn.btn-primary.mt-3(href="#") Детальніше			
			.course.col-12.col-md-6.col-lg-4
				.card
					.card-img-top(style='background-image: url(img/speaking-group.jpg);')
					.card-body
						h5
							a(href='#') Розмовна англійська
						span.badge.badge-pill.badge-danger.mr-2 Популярний
						span.badge.badge-pill.badge-success.course-price від 250грн/год
						p.card-text.
							Практика розмовної англійської в групах від початкового до просунутого рівнів.
							Підготуй свою англійську до подорожей, роботи, вечірок або життя за кордоном.
						//- a.btn.btn-primary.mt-3(href="#") Детальніше
			.course.col-12.col-md-6.col-lg-4
				.card
					.card-img-top(style='background-image: url(img/bachelor.jpg);')
					.card-body
						h5
							a(href='#') Підготовка до іспитів
						span.badge.badge-pill.badge-success.course-price від 250грн/год
						p.card-text
							ul.list-with-ticks
								li 
									span.fa.fa-check.fa-lg.mr-1
									span ДПА, ЗНО
								li 
									span.fa.fa-check.fa-lg.mr-1
									span IELTS
								li 
									span.fa.fa-check.fa-lg.mr-1
									span TOEFL
						//- a.btn.btn-primary.mt-3(href="#") Детальніше
			.course.col-12.col-md-6.col-lg-4
				.card
					.card-img-top(style='background-image: url(img/sheldon-header.jpg);')
					.card-body
						h5 
							a(href='./sheldon.html') Курс по серіалу "Young Sheldon"
						span.badge.badge-pill.badge-primary.course-duration.mr-2 10 уроків
						span.badge.badge-pill.badge-success.course-price 2500 грн
						p.card-text
							span.
								Сімейна комедія, від якої всі в захваті.
							span.ml-1.d-none.d-lg-flex.
								Кожному буде, з чого посміятися досхочу!
							span.ml-1.
								Наші вчителі допоможуть не лише
								виконати вправи, а потурбуються,
								щоб отримані знання залишилися
								в вашому активному словнику.
						a.btn.btn-primary.mt-3(href="./sheldon.html") Детальніше
			.course.col-12.col-md-6.col-lg-4
				.card
					.card-img-top(style='background-image: url(img/vebinars.jpg);')
					.card-body
						h5
							a(href='#') Вебінари від засновниці школи Nina Zelinska для вчителів
						span.badge.badge-pill.badge-success.course-price ??? грн
						p.card-text
							ul.list-with-ticks
								li 
									span.fa.fa-check.fa-lg.mr-1
									span.
										Інтернет ресурси — де знайти найкраще,
										як використати найефективніше.
								li 
									span.fa.fa-check.fa-lg.mr-1
									span.
										Незабутні уроки, що стануть
										причиною для учнів полюбити
										англійську назавжди.
								li 
									span.fa.fa-check.fa-lg.mr-1
									span.
										12 кроків і ви THE ONE з власним брендом
										«Як показати світу, на що Ви здатні!»
						//- a.btn.btn-primary.mt-3(href="#") Детальніше
			.course.col-12.col-md-6.col-lg-4
				.card
					.card-img-top(style='background-image: url(img/globe.jpg);')
					.card-body
						h5
							a(href='./travel.html') Курс "Подорожі з легкістю"
						span.badge.badge-pill.badge-primary.course-duration.mr-2 10 уроків
						span.badge.badge-pill.badge-success.course-price ??? грн
						p.card-text.
							Позбавимо вас від страху непорозумінь
							під час подорожей за 10 занять.
						p.card-text.
							Розбираємо та тренуємо найбільш важливі теми
							та знайомимось з визначними місцями.
						a.btn.btn-primary.mt-3(href="./travel.html") Детальніше
			.course.col-12.col-md-6.col-lg-4
				.card
					.card-img-top(style='background-image: url(img/hot-discussion.jpg);')
					.card-body
						h5
							a(href='#') Гарячі дискусії
						span.badge.badge-pill.badge-success.course-price ??? грн
						p.card-text.
							Найактуальніші теми та гарантоване 
							збільшення словникового запасу!
						//- a.btn.btn-primary.mt-3(href="#") Детальніше
			.course.col-12.col-md-6.col-lg-4
				.card
					.card-img-top(style='background-image: url(img/coding.jpg);')
					.card-body
						h5
							a(href='./it.html') Уроки для юних IT-шників
						span.badge.badge-pill.badge-success.course-price від 200грн/год
						p.card-text.
							Комп'ютерні науки, та основи програмування: індивідуально та в групі. Викладає практикуючий розробник.
						a.btn.btn-primary.mt-3(href="./it.html") Детальніше
			.course.col-12.col-md-6.col-lg-4
				.card
					.card-img-top(style='background-image: url(img/math.jpg);')
					.card-body
						h5 
							a(href='#') Курс з математики та логіки для дітей
						span.badge.badge-pill.badge-success.course-price ??? грн
						p.card-text.
							Основні математичні терміни та операції англійською +
							багато практики.
						//- a.btn.btn-primary.mt-3(href="#") Детальніше
			

