:root{
	--dark-blue: rgb(5,9,36);
	--light-white:  #f7f7f7;
}
.animated{
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
}
.fadeIn{
	-webkit-animation-duration: 2s;
	        animation-duration: 2s;
}
.gradient{
	-webkit-animation-delay: 0.5s;
	        animation-delay: 0.5s;
}
h1,h2,h3,h4,h5{
	margin:0;
}
ul {
	margin: 0;
	padding: 0;
}
ul li{
	margin: 0;
	padding: 0;
	display: block;
}
a, input, button, .button, .button:active, .button:focus, span{
	outline: none;
}
a, input, button, .button:hover, a:hover{
	outline: none;
	text-decoration: none;
	color: #000;
}
.underline{
	border-bottom: 2.5px solid var(--dark-blue);
}
body{
	overflow-x:hidden;
	letter-spacing: 0;
	font-family: Ubuntu, sans-serif;
	color:var(--dark-blue);
	background:var(--light-white);
}
.container{
	max-width: 90%;
}
.borderless-container{
	margin: 0px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: auto;
}
header{
	height: 100vh;
	/* background: url(../img/bridge1.jpg) center center;
	background-size: cover; 
    -webkit-box-shadow: 0px 0px 50px rgba(14,11,27,1);
			box-shadow: 0px 10px 50px rgba(14,11,27,1);
			*/
}
#bgvid {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
  }
.navbar{
	transition: all .5s ease-in-out;
	position: absolute;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 80px;
	z-index: 1;
}
.bg-dark{
	background: rgba(16,14,39, 1)!important; 
}
nav .nav-link {
	font-size: 1.15rem;
}
.navbar-light .navbar-brand *{
	color: var(--dark-blue);
	font-weight: 700;
}
.navbar .active a{
	background: rgba(0,0,0,0.15);
	padding: 8px 1rem !important;
	margin: 0 15px;
	color: var(--dark-blue)!important;
	opacity: 0.75;
}
.top-title{
  	color: #2a84cd;
	font-size: 22px;
}
.navbar-nav .nav-link {
	color: var(--dark-blue)!important;
	transition: all .3s ease-in-out;
	font-family: Ubuntu, sans-serif;
	border-radius: 20px;
	opacity: 0.75;
}
.navbar-nav .nav-link:hover {
	color: rgba(5,9,36,1)!important;
	background: rgba(0,0,0,0.1);
	padding: 8px 1rem !important;
	margin: 0 10px;
}
.navbar-nav .nav-link span{
	font-weight: 500!important;
}
.offer{
	margin: 30vh 35vw auto 0;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
			flex-flow: row wrap;
	color:  var(--dark-blue);
}
.offer *{
	width: 100%;
	text-align: center;
}
h1{
	font-size: 58px;
	text-align: center;
	font-weight: 900;
}
h2{
	font-size: 54px;
	text-align: center;
	font-weight: 900;
}
.hard-to-see{
	text-transform: uppercase;
	color: var(--dark-blue);
	opacity: 0.03;
	position: absolute;
	bottom: -75px;
	left: 0;
	width: 100%;
	text-align: center;
}
section{
	padding-top: 100px;
}
.go-section{
	
}
.go-section .container{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	overflow-x: hidden;
	background: url(../img/shocked.jpg) center center;
	background-size: cover;
	padding: 20px 0 0 30px;
	
}
.go-section__left{
	width: 35%;
	overflow: hidden;
}
.go-section__title{
	font-size: 48px;
	line-height: 50px;
	font-weight: 900;
	margin-bottom: 2rem;
	text-align: left;
	color: var(--light-white);
}
.go-section__description .card{
	background-color: rgba(255,255,255,0.75);
}
.go-section__description .card-header{
	align-items: center;
	background-color: rgba(255,255,255,0.5);
	padding: .5rem 1rem;
}
.go-section__description .card h4{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-items: center;
}
.go-section__description .card  a:hover{
	cursor: pointer;
}
.go-section__description .card h4:before{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	content: '';
	height: 40px;
	width: 40px;
	margin-right: 20px;
	align-self: center;
}
.go-section__description .card:nth-child(1) h4:before{
	background: url(../img/emoji1.jpeg) center center no-repeat;
	background-size: 40px 40px;
}
.go-section__description .card:nth-child(2) h4:before{
	background: url(../img/emoji2.jpeg) center center no-repeat;
	background-size: 40px 40px;
}
.go-section__description .card:nth-child(3) h4:before{
	background: url(../img/emoji3.jpeg) center center no-repeat;
	background-size: 40px 40px;
}
.go-section__description .card:nth-child(4) h4:before{
	background: url(../img/emoji4.jpeg) center center no-repeat;
	background-size: 40px 40px;
}
.go-section__description .card:nth-child(5) h4:before{
	background: url(../img/emoji5.jpeg) center center no-repeat;
	background-size: 40px 40px;
}
.go-section__description p{
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
}
a.lesson{
	width: 310px;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	color: #000;
	margin: 60px auto 40px 40px;
	padding: 10px 25px;
	border-radius: 30px;
	font-size: 24px;
	font-weight: 400;
	cursor: pointer;
	-webkit-box-shadow: 0px 12px 25px -4px rgba(0,0,0, 0.25);
	        box-shadow: 0px 12px 25px -4px rgba(0,0,0, 0.25);
	-webkit-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	position: relative;
	z-index: 1;
}
a.lesson:hover, a.lesson:focus {
  text-decoration: none;
  border: 2px solid #000;
}
a.lesson::after {
  content: '';
  width: 100%;
  height: 100%;
  padding: 10px 25px;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  border: 1px solid #000;
  -webkit-animation: my_animation_desktop_big 0.5s infinite alternate;
          animation: my_animation_desktop_big 0.5s infinite alternate;
}
a.lesson:hover::after, a.lesson:focus::after, a.lesson:visited::after {
  -webkit-animation: none;
          animation: none;
  display: none;
}
@-webkit-keyframes my_animation_desktop_big {
  0% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
    border: 1px solid rgba(0,0,0,1);
  }
  100% {
  	-webkit-transform: scale(1.03);
  	        transform: scale(1.03);
 	border: 5px solid rgba(0,0,0,0.5);
  }
}
@keyframes my_animation_desktop_big {
  0% {
    -webkit-transform: scale(1.0);
            transform: scale(1.0);
    border: 1px solid rgba(0,0,0,1);
  }
  100% {
  	-webkit-transform: scale(1.03);
  	        transform: scale(1.03);
 	border: 5px solid rgba(0,0,0,0.5);
  }
}
.go-section__right{
	margin: auto 0 auto auto;
	width: 60%;
	overflow-x: hidden;
	margin-left: auto;
	border-radius: 3%;
}
.go-section__right .row:first-child{
	height: 410px;
	margin-left: 0;
	margin-right: 0;
	background: #000;
}
.go-section__right .col{
	padding: 0;
}
.videoSlider-controls{
	display: flex;
	flex-flow: row wrap;
	width: auto;
}
.videoSlider-controls .carousel-control-next, .videoSlider-controls .carousel-control-prev{
	height: 40px;
	width: 40px;
	position: relative;
	margin: 10px auto 0 auto;
	justify-content: center;
}
#videoSlider{
	height: 100%;
}
#videoSlider .carousel-inner{
	padding: 0;
	height: 100%;
}
#videoSlider .carousel-item{
	height: 100%;
}
/*______________________products____________________*/
#products{
	overflow-x: hidden;
}
.container-fluid{
	margin: 0 auto;
	width: 98%;
}
.row-0, .row-1, .row-2, .row-3, .row-4{
	margin-top: 30px;
}
.product-bg-part{
	width: 100%;
	border: 2px solid #000;
}
.row-1 .product-bg-part, .row-3 .product-bg-part {
	height: 250px;
	z-index: 1;
}
.row-0 .product-bg-part, .row-2 .product-bg-part{
	height: 400px;
	z-index: 1;
}
.product-0, .product-5, .product-7{
	cursor: default;
}
.product-0:hover .more-sheldon, .product-5:hover #more-travel, .product-7:hover .more-it{
	background: #25d7f0;
}
.product-0-bg-part{
	background: url(../img/bg-0.png) no-repeat;
	background-size: cover;
}
.product-1-bg-part{
	background: url(../img/bg-1.png) no-repeat;
	background-size: cover;
}
.product-2-bg-part{
	background: url(../img/bg-2.png) no-repeat;
	background-size: cover;
	-webkit-animation-delay: 0.3s;
	        animation-delay: 0.3s;
}
.product-3-bg-part{
	background: url(../img/bg-3.png) no-repeat;
	background-size: cover;
	-webkit-animation-delay: 0.6s;
	        animation-delay: 0.6s;
}
.product-4-bg-part{
	background: url(../img/bg-4.png) no-repeat -40px 0px;
	background-size: cover;
}
.product-5-bg-part{
	background: url(../img/bg-5.png) no-repeat;
	background-size: cover;
	-webkit-animation-delay: 0.3s;
	        animation-delay: 0.3s;
}
.product-6-bg-part{
	background: url(../img/bg-6.png) no-repeat 40px 0px;
	background-size: cover;
}
.product-7-bg-part{
	-webkit-animation-delay: 0.3s;
	        animation-delay: 0.3s;
}
.product-8-bg-part{
	background: url(../img/bg-8.png) no-repeat;
	background-size: cover;
	-webkit-animation-delay: 0.6s;
	        animation-delay: 0.6s;
}
.row-0 .product-bg, .row-1 .product-bg, .row-2 .product-bg, .row-3 .product-bg{
	position: relative;
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.product-0-bg:hover{
	background: #ba9688;
}
.product-1-bg:hover{
	background: #5a5e88;
}
.product-2-bg:hover{
	background: #dc9758;
}
.product-3-bg:hover{
	background: #dcc6b7;
}
.product-4-bg:hover{
	background: #050924;
}
.product-4-bg:hover .product-name{
	color: #1fbbec;
}
.product-4-bg:hover .product-description{
	color: #b3d7f2;
}
.product-5-bg:hover{
	background: #b7b16e;
}
.product-6-bg:hover{
	background: #c76468;
}
.product-7-bg:hover{
	background: #1e6485;
}
.product-8-bg:hover{
	background: #934f4d;
}
.product-img{
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 3;
}
.product-0-img{
	background: url(../img/sheldon.png) no-repeat right bottom;
	background-size: contain;
}
.product-1-img{
	background: url(../img/Britain-flag.png) no-repeat right bottom;
	background-size: contain;
}
.product-2-img{
	background: url(../img/lion.png) no-repeat right bottom;
	background-size: contain;
}
.product-3-img{
	background: url(../img/socratus.png) no-repeat right bottom;
	background-size: contain;
}
.product-4-img{
	background: url(../img/ninateacher.png) no-repeat right bottom;
	background-size: contain;
}
.product-5-img{
	background: url(../img/travelling.png) no-repeat right bottom;
	background-size: contain;
}
.product-6-img{
	background: url(../img/discussion.png) no-repeat right bottom;
	background-size: contain;
}
.product-7-img{
	background: url(../img/it.png) no-repeat right bottom;
	background-size: contain;
}
.product-8-img{
	background: url(../img/examination.png) no-repeat right bottom;
	background-size: contain;
}
.product-inner{
	height: 100%;
	padding: 10px 15px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	-webkit-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.product-name{
	font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 28px;
    display: inline-block;
}
.mb10{
    margin-bottom: 10px;
}
.product-description{
	font-size: 18px;
	margin: 3px 0;
	line-height: 30px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
}
.course-price-img{
	height: 25px;
	width: 25px;
}
.product-description span.price{
	font-size: 17px;
}
.more{
	font-size: 18px;
	margin: 12px 0 0 5px;
	padding: 5px 10px;
	border-radius: 15px;
	border: 1.5px solid #000;
	display: inline-block;
	-webkit-animation: pulse .5s infinite alternate;
	        animation: pulse .5s infinite alternate;
}
@-webkit-keyframes pulse{
	from{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	to{
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
}
@keyframes pulse{
	from{
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	to{
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
}
/*_____________________________________________________*/
#merits{
	overflow-x: hidden;
}
.section .container, .list__item{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.section__title{
	font-size: 54px;
	text-align: center;
	width: 100%;
}
.section__img{
	width: 640px;
	height: 260px;
	border-radius: 12px;
	-webkit-box-shadow: 0px 15px 26px 8px rgba(0,0,0,0.3);
	        box-shadow: 0px 15px 26px 8px rgba(0,0,0,0.3);
}
ul.list{
	margin-top: 0px;
}
.list__item{
	margin-top: 50px;
}
.list__item .title{
	font-size: 36px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 47px;
	margin-top: 10%;
}
.list__item-text{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	-ms-flex-line-pack: start;
	    align-content: flex-start;
	width: 50%;
}
.list__item-pic{
	width: 47%;
	-webkit-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.16), 0px 40px 50px rgba(0, 0, 0, 0.18);
	        box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.16), 0px 40px 50px rgba(0, 0, 0, 0.18);
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 20px;
}
.list__item-1{
	margin-top: 30px;
}
.list__item-1-left .title, .list__item-5-right .title{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.title-1-span, .title-5-span{
	margin-left: 65px;
}
.list__item-1-right{
	margin-left: auto;
	background: url(../img/ladies.png) bottom center no-repeat;
	background-size: cover;
	height: 390px;
}
.list__item-pic:hover{
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-box-shadow: 0 30px 30px -5px rgba(0, 0, 0, 0.3);
	        box-shadow: 0 30px 30px -5px rgba(0, 0, 0, 0.3);
}
.list__item-2-left{
	background: url(../img/nina-pic.png) center center no-repeat;
	margin-right: auto;
	background-size: 530px 530px;
	height: 500px;
	width: 500px;
}
.list__item-2-right .title, .list__item-5-right .title{
	margin-top: 60px;
}
.list__item-3-left .title{
	margin-top: 100px;
}
.list__item-3-right{
	background: url(../img/all-adults.png) right bottom no-repeat;
	background-size: cover;/*530px 530px;*/
	height: 510px;
	width: 46%;
	margin-left: auto;
}
.list__item-4 .title, .list__item-6 .title{
	margin-top: 20px;
}
.list__item-5-left{
	background: url(../img/activities.png) center bottom no-repeat;
	background-size: cover;/*495px 510px;*/
	height: 500px;

	margin-right: auto;
}
.list__item-5-right  span.new_line{
	display: inline;
	margin: 0;
}
.list__item .decription{
	font-size: 22px;
	margin-top: 30px;
}
.list__item .title::before{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	content: '';
	height: 45px;
	width: 45px;
	margin-right: 20px;
}
.list__item:first-child .title::before{
	background: url(../img/speak-emoji.png) center center no-repeat;
	background-size: 45px 45px;
	margin-top: 25px;
}
.list__item:first-child .title span{
	margin-top: -25px;
}
.list__item:nth-child(2) .title::before{
	background: url(../img/Writing_Hand_Emoji_.png) center center no-repeat;
	background-size: 45px 45px;
	margin-top: -2px;
}
.list__item:nth-child(3) .title::before{
	background: url(../img/face-with-monocle.png) center center no-repeat;
	background-size: 45px 45px;
}
.list__item:nth-child(4) .title::before{
	background: url(../img/holding-us-flag.png) center center no-repeat;
	height: 50px;
	width: 50px;
	background-size: 50px 50px;
}
.list__item:nth-child(5) .title::before{
	background: url(../img/microphone.png) center center no-repeat;
	background-size: 45px 45px;
}
.list__item:nth-child(5) .title::after{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	content: '';
	height: 50px;
	width: 50px;
	background: url(../img/Open_Book_Emoji_1024x1024.webp) center center no-repeat;
	background-size: 50px 50px;
	margin-left: 20px;
}
span.one-line{
	margin: 0;
	display: inline-block;
}
.list__item:nth-child(6) .title::before{
	background: url(../img/Hugging_Face_Emoji_.png) center center no-repeat;
	background-size: 45px 45px;
}
.buttons{
	margin: 10px auto;
	width: 75%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row nowrap;
	        flex-flow: row nowrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}
.buttons a.lesson::after {
	display: none;
}
a.lesson:hover, a.lesson:focus {
  text-decoration: none;
  border: 1.5px solid #000;
}
.black-btn{
	border: 1.5px solid #000;
}
.black-btn:hover{
	-webkit-box-shadow: 6px 8px 35px 4px rgba(0,0,0, 0.3);
	        box-shadow: 6px 8px 35px 4px rgba(0,0,0, 0.3);
}
a.telegram-bot{
	width: 350px;
}
/*-------carousel-----------*/
.carousel {
    background: rgba(0,0,0, 0.1);
    border-radius: 100px;
}
.carousel-inner{
	padding: 0 5% 2% 5%;
}
.carousel-indicators li{
	background-color: #000;
}
#carouselButton{
	position: absolute;
	bottom: 0px;
	left: 48%;
}
.carousel-control-next, .carousel-control-prev{
	width: 7%;
	font-size: 30px;
	color: rgb(0,0,0, 0.75) !important;
	transition: all 0.2s ease-in-out;
	margin: 5% 0;
}
.carousel-control-next:hover, .carousel-control-prev:hover{
	color: rgb(0,0,0, 1);
}
.carousel-control-prev{
	justify-content: flex-end;
}
.carousel-control-next{
	justify-content: flex-start;
}
.review{
	width: 100%;
	height: 100%;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
	padding: 30px;
}
.review__author{
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.author-img{
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
	border-radius: 50%;
}
.author-name{
	width: 100%;
	font-size: 18px;
	font-style: italic;
	font-weight: 500;
	text-align: center;
}
#author1{
	background: url(../img/julia.jpg) center center no-repeat;
	background-size: cover;
}
#author2{
	background: url(../img/avatar-man.png) center center no-repeat;
	background-size: cover;
}
#author3{
	background: url(../img/avatar-man.png) center center no-repeat;
	background-size: cover;
}
#author4{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author5{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author6{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author7{
	background: url(../img/avatar-man.png) center center no-repeat;
	background-size: cover;
}
#author8{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author9{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author10{
	background: url(../img/avatar-woman.jpg) center center no-repeat;
	background-size: cover;
}
#author11{
	background: url(../img/incognito.jpg) center center no-repeat;
	background-size: cover;
}
.review__text{
	font-size: 20px;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-flow: row wrap;
	        flex-flow: row wrap;
}
.emoji{
	height: 26px;
	width: 26px;
	margin-bottom: -4px;
	display: inline-block;
}
.smile{
	background: url(../img/smile.png) center center no-repeat;
	background-size: cover;
}
.star-struck{
	background: url(../img/star-struck.png) center center no-repeat;
	background-size: cover;
}
.thumbs-up{
	background: url(../img/thumbs-up.png) center center no-repeat;
	background-size: cover;
}
.heart-eyes{
	background: url(../img/heart-eyes.png) center center no-repeat;
	background-size: cover;
}
.heart{
	background: url(../img/heart.png) center center no-repeat;
	background-size: cover;
}
.kiss{
	background: url(../img/kiss.png) center center no-repeat;
	background-size: cover;
	margin-left: 2px;
}
.kissing-heart{
	background: url(../img/kissing-heart.png) center center no-repeat;
	background-size: cover;
	margin-left: 3px;
}
.one-hundred{
	background: url(../img/100.png) center center no-repeat;
	background-size: cover;
	margin-bottom: -6px;
}
.thinking-face{
	background: url(../img/thinking-face.png) center center no-repeat;
	background-size: cover;
}
.eyebrow{
	background: url(../img/eyebrow.png) center center no-repeat;
	background-size: cover;
}
.wink{
	background: url(../img/winking-face.png) center center no-repeat;
	background-size: cover;
	margin-bottom: -6px;
}
.fire{
	background: url(../img/fire.gif) no-repeat;
	background-size: cover;
	background-size: 20px 26px;
	width: 20px;
}
.party-popper{
	background: url(../img/party-popper.png) no-repeat;
	background-size: cover;
}
.flower{
	background: url(../img/flower.png) no-repeat;
	background-size: cover;
}
/*-----------------------------*/
footer{
	margin-top: 100px;
	padding: 20px 5px 10px 5px;
	background: #100e17;
	color: #fff;
	-webkit-box-shadow: 0px -10px 35px rgba(14,11,27,1);
	        box-shadow: 0px -10px 35px rgba(14,11,27,1);
}
footer p{
	margin-bottom: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 50px;
	font-size: 18px;
}
.footer-navigation{
	font-size: 18px;
}
footer a{
	color: #fff;
	transition: all .3s ease-in-out;
}
footer a:hover{
	color: rgb(255, 195, 49);
}
.footer-socials a{
	margin: 0 10px;
}

.btn-telegram, .fa-instagram{
	color: #fff;
}
.btn-tiktok{
	background: #fff;
}
.btn-tiktok:hover{
	background: #d3d3d3;
}
.fa-tiktok{
	color: #000;
}
.developer{
	line-height: 25px;
}
.developer__link{                   
	color: #fff;
	margin-left: 5px;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.developer__link:hover{
	color: #ffc331;
	text-decoration:none;
}
.developer__link i{
	margin-left: 4px;
	font-size: 12px;
}
.freepic{
	line-height: 20px;
}
.freepic a{
	color: #000;
}
.freepic a:hover{
	color: #000;
}