@media (max-width: 1200px) {
	.header-wrapper{
		background: url(../img/sheldon-header.jpg) -100px 0px no-repeat;
		background-size: cover;
	}

}
@media (max-width: 992px) {
	.header-wrapper{
		background: url(../img/sheldon-header.jpg) -220px 0px no-repeat;
		background-size: cover;
	}
	#sheldon{
		/*padding-top: 50px;*/
	}
	.offer{
		padding-top: 25%;
	}
	.young{
		font-size: 50px;
	}
}
@media (max-width: 768px) {
	.header-wrapper{
		background: url(../img/sheldon-header.jpg) -330px 0px no-repeat;
		background-size: cover;
	}
	#sheldon{
		/*padding-top: 40px;*/
	}

}
@media (max-width: 576px) {
	#sheldon-btn{
		margin: 25px auto;
	}
	.header-wrapper{
		background: url(../img/sheldon-header.jpg) 92% top no-repeat;
		background-size: cover;
	}
	header .container .offer {
    	margin-top: 0;
    	padding-top: 70%;
	}
	.course-title {
    	font-size: 48px;
		margin-left: 35%;
		width: 200px;
	}
	.young {
    	font-size: 42px;
		display: block;
	}
	.course-title-small .one-line{
		display: inline;
	}
	.course_more_info {
    	margin: 10vh 5% 0 auto;
	}
}